# Conditional statements

In [ ]:
stat1
stat2
if condition :
    stat3
    stat4
stat5
    
T --> 1,2,3,4,5
F --> 1,2,5

In [ ]:
stat1
stat2
if condition :
    stat3
    stat4
else:
    stat6
    stat7
stat5
    
T --> 1,2,3,4,5
F --> 1,2,6,7,5

In [ ]:
stat1
stat2
if condition 1:
    stat3
    stat4
if condition 2:
    stat8
    stat9
if condition 3:
    stat10
    stat11
else:
    stat6
    stat7
stat5
    
1 and 3 are F and rest all are T --> 1,2,8,9,6,7,5
1 and 3 are T rest all are F -> 1,2,3,4,10,11,5

# Elif

In [ ]:
stat1
stat2
if condition 1: # T
    stat3
    stat4
elif condition 2: #F
    stat8
    stat9
elif condition 3: # T
    stat10
    stat11
else:
    stat6
    stat7
stat5
    
1 and 3 are F and rest all are T --> 1,2,8,9,5
1 and 3 are T rest all are F -> 1,2,3,4,5

In [1]:
a = 10
b = 20

if a < b: # T
    print('Python')
if a > b: # F
    print('Java')
if a != b: # T
    print('SQL')
else:
    print('C')
print('Hello')

Python
SQL
Hello

In [2]:
a = 10
b = 20

if a < b: # T
    print('Python')
elif a > b: # F
    print('Java')
elif a != b: # T
    print('SQL')
else:
    print('C')
print('Hello')

Python
Hello

In [6]:
a = 10
b = 20

if a > b: # T
    print('Python')
    
elif a == b: # T
    print('Java')
    
elif a == b: # T
    print('SQL')
    
else:
    print('C')
    
print('Hello')

C
Hello

In [7]:
a = 10
b = 20

if a != b: # T
    print('Python')
if a == b: # F
    print('Java')
if a < b: # T
    print('SQL')
else:
    print('C')
print('Hello')

Python
SQL
Hello

In [8]:
a = 10
b = 20

if a != b: # T
    print('Python')
    
if a == b: # F
    print('Java')
    
if a > b: # F
    print('SQL')
else:
    print('C')
    
print('Hello')

Python
C
Hello

In [9]:
a = 10
b = 20

if a != b: # T
    print('Python')
    
elif a == b: # F
    print('Java')
    
elif a < b: # T
    print('SQL')
else:
    print('C')
    
print('Hello')

Python
Hello

In [10]:
a = 10
b = 20

if a != b: # T
    print('Python')

if a == b: # F
    print('Java')
    
elif a>b: # F
    print('Pyspark')
    
elif a < b: # T
    print('SQL')
    
else:
    print('C')
    
print('Hello')

Python
SQL
Hello

In [12]:
a = 10
b = 20

if a == b: # F
    print('Python')

elif a > b: # F
    print('Java')
    
if a>b: # F
    print('Pyspark')
    
elif a < b: # T
    print('SQL')
    
else:
    print('C')
    
print('Hello')

SQL
Hello

In [13]:
a = 10
b = 20

if a== b: #F
    print('Start')
    if a <b: # T
        print('Python')
    if a > b : # F?
        print('Java')
    else:
        print('C')
        
else:
    print('Stop')

Stop

In [15]:
a = 10
b = 20

if a != b: #T
    print('Start')
    if a <b: # T
        print('Python')
    elif a > b : # F?
        print('Java')
    else:
        print('C')
        
else:
    print('Stop')

Start
Python

In [ ]:
if
else


if 
elif
elif
else


if


if 
elif

In [ ]:
# Wap

1-6 --> 

3 --> Three
4 --> Four
2 --> Two


any number beyond or below the range ----> Number out of range
9
9.345

Any float within 1-6 --> Invalid number
2.3
4.5

In [24]:
a=eval(input('Enter a number between 1-6:'))
if (a==1):
    print('one')
elif(a==2):
    print('two')
elif(a==3):
    print('three')
elif(a==4):
    print('four')
elif(a==5):
    print('five')
elif(a==6):
    print('six')
elif(a>=1 and a<=6 ):
    if(str(a).isnumeric!=True):
        print('Invalid Number')
else:
    print('Number out of range')

Enter a number between 1-6:43.5645
Number out of range

In [33]:
num = {1:'One',2:'Two',3:'Three',4:'Four',5:'Five',6:'Six'}

num_in = eval(input("Enter a number:"))

if num_in>=1 and num_in <=6:
    if str(num_in).isdigit() :
#         for i in num:
#             if i == num_in:
                print(num[num_in])
    else:
        print('Invalid Number')
elif num_in > 6:
    print('Number out of range')

Enter a number:55.34
Number out of range

In [37]:
user_input = input("Enter a number between 1 to 6: ")

if user_input.isdigit():
    user_number = int(user_input)
    if user_number == 1:
        print("One")
    elif user_number == 2:
        print("Two")
    elif user_number == 3:
        print("Three")
    elif user_number == 4:
        print("Four")
    elif user_number == 5:
        print("Five")
    elif user_number == 6:
        print("Six")
    else:
        print("Number is out of range")
else:
    print("Invalid number")

Enter a number between 1 to 6: 9.43
Invalid number

In [41]:
num =  eval(input())

if(num>=1 and num <= 6):
    if isinstance(num, float):
        print("Invalid number")
    elif num == 1:
        print('one')
    elif num == 2:
        print('two')
    elif num == 3:
        print('three')
    elif num == 4:
        print('Four')
    elif num == 5:
        print('Five')
    elif num == 6:
        print('six')
else:
    print("Number out of range")

99.23
Number out of range

In [45]:
a = eval(input('Enter the number: '))
if type(a) == float and a>=1 and a<=6:
    print('Invalid number')
elif a == 1:
    print('One')
elif a == 2:
    print('Two')
elif a == 3:
    print('Three')
elif a == 4:
    print('Four')
elif a == 5:
    print('Five')
elif a == 6:
    print('Six')
else:
    print('Number out of range')

Enter the number: 99.34
Number out of range

In [54]:
a = eval(input('Enter a number : '))


if a>6 or a<1:
    print('Number out of range')
else:
    if type(a) == float :
        print('Invalid number')
    elif a == 1:
        print('One')
    elif a == 2:
        print('Two')
    elif a == 3:
        print('Three')
    elif a == 4:
        print('Four')
    elif a == 5:
        print('Five')
    elif a == 6:
        print('Six')

Enter a number : 767.34343
Number out of range

In [ ]:
n1 ---> 

n2 --> 

op ---> (+,-,*,/) or (add , sub , mul , div)

invalid operator

In [57]:
a=eval(input("Input first number")) 
b=eval(input("Input second number")) 
c=input("Input the operation to be performed").lower() 
if (c == "add") or (c == "+"): 
    print(a+b) 
elif (c=="sub") or (c=="-"): 
    print(a-b) 
elif (c=="mul") or (c=="*"): 
    print(a*b) 
elif (c=="div") or (c=="/"): 
    print(a/b) 
else: 
    print("invalid operator")

Input first number34
Input second number34
Input the operation to be performedadd
68

In [60]:
op =  input()
n1 =  eval(input())
n2 =  eval(input())

if op in ('+', 'add'):
    print(n1 + n2)
elif op in ('-', 'sub'):
    print(n1 - n2)
elif op in('*', 'mul'):
    print(n1 * n2)
elif op in('/', 'div'):
    print(n1 / n2)
else:
    print('Invalid operator')

+
324
34
358

In [68]:
a = eval(input())
b = eval(input())
op = input('Op : ')


d1 = {'+' : a+b , '-' : a-b , '*':a*b , '/':a/b}
d2 = {'add' : a+b , 'sub' : a-b , 'mul':a*b , 'div':a/b}


if (op in d1.keys()) or (op in d2.keys()):
    print(d1.get(op) or d2.get(op))
else:
    print('Invalid op')

10
20
Op : add
30

# Loops

In [ ]:
# For loop ---> For fixed iteration

for var in iterable:
    stat1
    stat2
    stat3

In [ ]:
1. len --> should be applica



2. print(dir(object)) ---> __iter__

In [75]:
print(dir(dict))

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [ ]:
# While loop ---> If we do not know the iteration

syntax

1. initilization
2. condition checking
3. inc / dec

In [83]:
var = 0 # initilization

while var <= 5: # Condition
    print('Hello world')
    var += 1 # inc

Hello world
Hello world
Hello world
Hello world
Hello world
Hello world

In [84]:
var = 5 # initilization

while var > 0 : # Condition
    print('Hello world')
    var -= 1 # dec

Hello world
Hello world
Hello world
Hello world
Hello world

In [85]:
a = 'python'

for i in a:
    print(i)

p
y
t
h
o
n

In [88]:
a = 'python'

i = 0

while i < len(a):
    print(a[i])
    i += 1

p
y
t
h
o
n

In [96]:
a = 'python'

# p
# yy
# ttt
# hhhh
# ooooo
# nnnnnn

print(a[0] * 1)
print(a[1] * 2)
print(a[2] * 3)
print(a[3] * 4)
print(a[4] * 5)
print(a[5] * 6)

print('----------------------')

for i in range(len(a)):
    print(a[i] * (i+1))

p
yy
ttt
hhhh
ooooo
nnnnnn
----------------------
p
yy
ttt
hhhh
ooooo
nnnnnn

In [98]:
i = 0

while i < len(a):
    print(a[i] * (i+1))
    i += 1

p
yy
ttt
hhhh
ooooo
nnnnnn

In [99]:
a = 'python'

for index, character in enumerate(a):
    print(character * (index + 1))

p
yy
ttt
hhhh
ooooo
nnnnnn

In [103]:
list(enumerate(a))

[(0, 'p'), (1, 'y'), (2, 't'), (3, 'h'), (4, 'o'), (5, 'n')]

In [108]:
a = 'python'

# nnnnnn
# ooooo
# hhhh
# ttt
# yy
# p


i = len(a)

while i > 0:
    print(a[i-1] * i)
    i -=1

nnnnnn
ooooo
hhhh
ttt
yy
p

In [109]:
i = 5

while i >= 0:
    print(a[i] * (i+1))
    i -=1

nnnnnn
ooooo
hhhh
ttt
yy
p

In [111]:
print(a[5] * 6)
print(a[4] * 5)
print(a[3] * 4)
print(a[2] * 3)
print(a[1] * 2)
print(a[0] * 1)

nnnnnn
ooooo
hhhh
ttt
yy
p

In [116]:
a = 'python'

# pppppp
# yyyyy
# tttt
# hhh
# oo
# n
j=len(a)
i=0
while(i < len(a)):
    print(a[i]*j)
    i+=1
    j-=1

pppppp
yyyyy
tttt
hhh
oo
n

In [114]:
a='python'
i=len(a)

while i > 0:
    print(a[-i]*(i))
    i -= 1;

pppppp
yyyyy
tttt
hhh
oo
n

In [119]:
a='python'
i=len(a)

while i >0:
    print(a[len(a) -i] * i)
    i -= 1

pppppp
yyyyy
tttt
hhh
oo
n

# Break , continue and pass