# Break , continue and pass

# Break

- Break out of the loop
- It'll even stop the current execution

In [2]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
for i in range(10):
    if i == 3:
        break
    print(i)
    
print('Loop completed')

0
1
2
Loop completed

In [9]:
i = 0

while i<= 10:
    if i == 3:
        break
    print(i)
    i += 1

0
1
2

# continue

- it end the current iteration

In [10]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [11]:
for i in range(10):
    if i == 3:
        continue
    print(i)
    
print('Loop completed')

0
1
2
4
5
6
7
8
9
Loop completed

In [14]:
while True:
    a = int(input('Enter a number : '))
    if a == 0:
        break
    else:
        continue
        print('Hello world')

Enter a number : 5
Enter a number : 0

In [16]:
while True:
    amt = int(input('Enter the Amount to deposit'))
    print('Amt Deposited')
    user_in = input(" Deposit Again : (Y or N) : ").lower()
    if(user_in=='y'):
        continue
    else:
        print('Have a nice day')
        break

Enter the Amount to deposit345345
Amt Deposited
 Deposit Again : (Y or N) : y
Enter the Amount to deposit3453454
Amt Deposited
 Deposit Again : (Y or N) : y
Enter the Amount to deposit5654645
Amt Deposited
 Deposit Again : (Y or N) : n
Have a nice day

In [18]:
deposit=0
while True:
    amt=int(input('Enter the amount'))
    deposit+=amt
    print(f"Current balance : {deposit}")
    a= input('Dou you want to repeat again : ').upper()
    if(a=='Y'):
        continue
    else:
        print('Have a nice day')
        break

Enter the amount100
Current balance : 100
Dou you want to repeat again : y
Enter the amount200
Current balance : 300
Dou you want to repeat again : 500
Have a nice day

# Pass

In [27]:
a = 37

if a%2==0:
    print('Even')
else:
    print('Odd')

Odd

In [28]:
a = 37

if a%2==0:
    
else:
    print('Odd')

IndentationError: expected an indented block after 'if' statement on line 3 (1086565551.py, line 4)

In [32]:
a = 36

if a%2==0:
    pass
else:
    print('Odd')

In [35]:
a = 37

if a%2!=0:
    print('ODD')

ODD

In [37]:
a = 36

if a%2==0:
    pass
    print('Even')
else:
    print('Odd')

In [ ]:
if
    stat1
elif
    pass
elif
    stat3
else
    stat4

In [ ]:
a = 36

if a%2==0:
    pass
else:
    print('Odd')

In [44]:
a = 36

if a%2==0:
    pass
else:
    print('Odd')

In [47]:
for i in range(10):
    pass

In [56]:
def funct():
    pass

In [55]:
lst = [32,543,56,657,678,78,98,9,9,0,89,32,32,4,3,45]


for i in lst:
    if i%2==0:
#         pass
        print(i, 'Even')
    else:
        pass
#         print(i,'odd')

32 Even
56 Even
678 Even
78 Even
98 Even
0 Even
32 Even
32 Even
4 Even

In [ ]:

enter the amount you want to transfer----> 200
bal - 200
print(current balance)
print(amount transfered)

do you want to transfer the amount y/n? 

y --> repeat the whole process again

if amount > bal:
    insuffcient balance
    print('Try after sometime')

if ---> 

do you want to transfer the amount y/n? 

y --> repeat the whole process again -->

In [ ]:
900 --> 850

50 ---> 100

0 --> close the program , if the user is entering n --> close the program

have a nice day

# Else

In [57]:
for i in range(10):
    print(i)
    
print('Loop completed')

0
1
2
3
4
5
6
7
8
9
Loop completed

In [58]:
for i in range(10):
    print(i)
else:    
    print('Loop completed')

0
1
2
3
4
5
6
7
8
9
Loop completed

In [59]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [60]:
for i in range(10):
    if i == 5:
        break
    print(i)
    
print('Loop completed')

0
1
2
3
4
Loop completed

In [61]:
for i in range(10):
    if i == 5:
        break
    print(i)
else:    
    print('Loop completed')

0
1
2
3
4

In [65]:
lst = ['a' , 'b' , 'c' , 'd']


a = input('Enter the name of the file you are searching for : ')

for i in lst:
    if i == a:
        print('File found')
        break
else:
    print('File not found in the data base')

Enter the name of the file you are searching for : d
File found

In [ ]:
flag = False
num=7


if num == 1:
    print(num, "is not a prime number")
elif num > 1:
    for i in range(2, num//2):
        if (num % i) == 0:
            flag = True
            break
            
    if flag:
        print(num, "is not a prime number")
    else:
        print(num, "is a prime number")

In [67]:
num = 10


for i in range(2 , num//2):
    if num %i==0:
        print('Not a prime')
        break
else:
    print('Prime number')

Not a prime

# Functions Next week