# Functions - DRY

In [2]:
# Task1
x = 'abc'

if x == x[::-1]:
    print('Palindrom')
else:
    print('Not a palindrom')

# Task2
n1 = 10
n2 = 20

print(n1 + n2)
# Task3 

x = 'level'

if x == x[::-1]:
    print('Palindrom')
else:
    print('Not a palindrom')

# Task4
n1 = 30
n2 = 20

print(n1 + n2)

Not a palindrom
30
Palindrom
50

# Best practice

1. should be in as many min lines as possible
2. Should be understandable

# Functions

- function defination --> we define our code
- function call ---> where we execute the code

function defination

def function_name(parameters):
    stat1
    stat2
    stat3
    return stat4


function call

function_name(arguments)

# Things that are optional
- parameters ---> If parameter are ther then arguments will be there and vice versa
- return --> If not used by default it return None

In [3]:
n1 = 30
n2 = 20

print(n1 + n2)

50

In [4]:
# Function defination

def adder():
    print(30+20)

In [7]:
# Function call

adder()
adder()
adder()
adder()

50
50
50
50

In [14]:
def adder(a,b):
    print(a + b)

In [12]:
adder(30 , 20)
adder(30 , 10)
adder(10 , 20)

50
40
30

In [15]:
def palindrom(x):
    if x == x[::-1]:
        print('Palindrom')
    else:
        print('Not a palindrom')

In [17]:
palindrom('level')
palindrom('python')

Palindrom
Not a palindrom

In [22]:
# Task1
palindrom('abc')

# Task2
adder(10 ,20)
# Task3 

palindrom('xyz')

# Task4
adder(100 ,200)

Not a palindrom
30
Not a palindrom
300

# Type of arguments

4 Types of args

1. positional arguments
2. keyword arguments
3. default arguments
4. variable length arguments

# positional arguments

    - The order is important
    - the num of args should match with the number of parameters

In [24]:
def emp_info(name , age , salary):
    print('Name : ', name)
    print('Age : ', age)
    print('Salary : ', salary)
    
emp_info('xyz' , 34 , 345345345)

Name :  xyz
Age :  34
Salary :  345345345

In [25]:
def emp_info(name , age , salary):
    print('Name : ', name)
    print('Age : ', age)
    print('Salary : ', salary)
    
emp_info(34 , 'xyz' , 345345345)

Name :  34
Age :  xyz
Salary :  345345345

In [26]:
def emp_info(name , age , salary):
    print('Name : ', name)
    print('Age : ', age)
    print('Salary : ', salary)
    
emp_info('xyz' , 345345345)

TypeError: emp_info() missing 1 required positional argument: 'salary'

# Keyword args

In [27]:
def emp_info(name , age , salary):
    print('Name : ', name)
    print('Age : ', age)
    print('Salary : ', salary)
    
emp_info(name = 'xyz' , age = 34 , salary = 345345345)

Name :  xyz
Age :  34
Salary :  345345345

In [28]:
def emp_info(name , age , salary):
    print('Name : ', name)
    print('Age : ', age)
    print('Salary : ', salary)
    
emp_info( age = 34 , salary = 345345345 , name = 'xyz')

Name :  xyz
Age :  34
Salary :  345345345

In [29]:
def emp_info(name , age , salary):
    print('Name : ', name)
    print('Age : ', age)
    print('Salary : ', salary)
    
emp_info( age = 34 , salary = 345345345 , 'xyz')

SyntaxError: positional argument follows keyword argument (752483231.py, line 6)

### Note:- If you are using mix match of positional and keyword args then positional argument follows keyword argument

In [31]:
def emp_info(name , age , salary):
    print('Name : ', name)
    print('Age : ', age)
    print('Salary : ', salary)
    
emp_info('xyz' ,  34 , salary = 345345345)

Name :  xyz
Age :  34
Salary :  345345345

In [32]:
def emp_info(name , age , salary):
    print('Name : ', name)
    print('Age : ', age)
    print('Salary : ', salary)
    
emp_info(34 , name = 'xyz' , salary = 345345345)

TypeError: emp_info() got multiple values for argument 'name'

In [33]:
def emp_info(name , age , salary):
    print('Name : ', name)
    print('Age : ', age)
    print('Salary : ', salary)
    
emp_info(age = 34 , name = 'xyz' , salary = 345345345)

Name :  xyz
Age :  34
Salary :  345345345

# Default arguments

In [34]:
def emp_info(name , age , salary , loc = 'bangalore' , pin = 65465654):
    print('Name : ', name)
    print('Age : ', age)
    print('Salary : ', salary)
    print('LOC : ', loc)
    print('pin : ', pin)
    
emp_info('xyz' ,  34 , 345345345)

Name :  xyz
Age :  34
Salary :  345345345
LOC :  bangalore
pin :  65465654

In [35]:
def emp_info(name , age , salary , loc = 'bangalore' , pin = 65465654):
    print('Name : ', name)
    print('Age : ', age)
    print('Salary : ', salary)
    print('LOC : ', loc)
    print('pin : ', pin)
    
emp_info('xyz' ,  34 , 345345345 , 'Goa' , 345345)

Name :  xyz
Age :  34
Salary :  345345345
LOC :  Goa
pin :  345345

In [36]:
def emp_info(name , age , salary , loc = 'bangalore' , pin = 65465654):
    print('Name : ', name)
    print('Age : ', age)
    print('Salary : ', salary)
    print('LOC : ', loc)
    print('pin : ', pin)
    
emp_info('xyz' ,  34 , 345345345 , pin= 345345)

Name :  xyz
Age :  34
Salary :  345345345
LOC :  bangalore
pin :  345345

In [37]:
def emp_info(loc = 'bangalore' , pin = 65465654 ,name , age , salary ):
    print('Name : ', name)
    print('Age : ', age)
    print('Salary : ', salary)
    print('LOC : ', loc)
    print('pin : ', pin)
    
emp_info('xyz' ,  34 , 345345345 , pin= 345345)

SyntaxError: non-default argument follows default argument (460903168.py, line 1)

In [39]:
def emp_info(name , age , salary , loc = 'bangalore' , pin = 65465654):
    print('Name : ', name)
    print('Age : ', age)
    print('Salary : ', salary)
    print('LOC : ', loc)
    print('pin : ', pin)
    
emp_info('xyz' ,  34 , 345345345 , 'Goa' , 345345)

Name :  xyz
Age :  34
Salary :  345345345
LOC :  Goa
pin :  345345

In [43]:
def emp_info(name , age , salary,/ , loc = 'bangalore',* , pin = 65465654):
    print('Name : ', name)
    print('Age : ', age)
    print('Salary : ', salary)
    print('LOC : ', loc)
    print('pin : ', pin)
    
emp_info('xyz' ,  34 , 345345345 , 'goa' )

Name :  xyz
Age :  34
Salary :  345345345
LOC :  goa
pin :  65465654

In [44]:
def emp_info(name , age , salary,/ , loc = 'bangalore',* , pin = 65465654):
    print('Name : ', name)
    print('Age : ', age)
    print('Salary : ', salary)
    print('LOC : ', loc)
    print('pin : ', pin)
    
emp_info('xyz' ,  34 , 345345345 , loc ='goa' )

Name :  xyz
Age :  34
Salary :  345345345
LOC :  goa
pin :  65465654

In [48]:
def emp_info(name , age , salary,/ , loc = 'bangalore',* , pin = 65465654):
    print('Name : ', name)
    print('Age : ', age)
    print('Salary : ', salary)
    print('LOC : ', loc)
    print('pin : ', pin)
    
emp_info('xyz' ,  34 , 345345345 ,'goa' ,  pin = 34534 )

Name :  xyz
Age :  34
Salary :  345345345
LOC :  goa
pin :  34534

# Variable length arguments

*args --> take the variable length positional arguments and store it in form of a tuple


**kwargs --> take the variable length keyword arguments and store it in form of a dict

In [54]:
def adder(a,b):
    print(a + b)

In [58]:
adder(10 ,20)

30

In [59]:
def adder(*args):
    print(args , type(args))

In [61]:
adder(10 ,20,30,40,50,60)

(10, 20, 30, 40, 50, 60) <class 'tuple'>

In [62]:
def adder(*a):
    print(a , type(a))

In [63]:
adder(10 ,20,30,40,50,60)

(10, 20, 30, 40, 50, 60) <class 'tuple'>

In [64]:
def adder(**kwargs):
    print(kwargs , type(kwargs))

In [65]:
adder(name = 'xyz' , age = 67 , sal = 78687687)

{'name': 'xyz', 'age': 67, 'sal': 78687687} <class 'dict'>

In [66]:
def adder(*args , **kwargs):
    print(args , type(args))
    print(kwargs , type(kwargs))

In [68]:
adder(10 ,20,30,40,50,60 , name = 'xyz')

(10, 20, 30, 40, 50, 60) <class 'tuple'>
{'name': 'xyz'} <class 'dict'>

In [71]:
emp_data = {'emp_1' : {'name' : 'Israr' , 'age':44 , 'salary':434234324} ,
    'emp_2' : {'name' : 'Abhishek' , 'age':33 , 'salary':545345} ,
    'emp_3' : {'name' : 'Dona' , 'age':23 , 'salary':5346546} ,
    'emp_4' : {'name' : 'Madhumita' , 'age':28 , 'salary':456456} ,
    'emp_5' : {'name' : 'John' , 'age':34 , 'salary':456456}}

In [77]:
def emp_adder(name , age , salary , **kwargs):
    key = f'emp_{len(emp_data) +1}'
    d = {'name' : name, 'age':age , 'salary':salary}
    d.update(kwargs)
    emp_data.setdefault(key , d)

In [79]:
emp_adder('new_emp' , 25 , 5345345345 ,pan = 23432,adhar = 234234)

emp_data

{'emp_1': {'name': 'Israr', 'age': 44, 'salary': 434234324},
 'emp_2': {'name': 'Abhishek', 'age': 33, 'salary': 545345},
 'emp_3': {'name': 'Dona', 'age': 23, 'salary': 5346546},
 'emp_4': {'name': 'Madhumita', 'age': 28, 'salary': 456456},
 'emp_5': {'name': 'John', 'age': 34, 'salary': 456456},
 'emp_6': {'name': 'xyz', 'age': 23, 'salary': 5345345345},
 'emp_7': {'name': 'abc', 'age': 25, 'salary': 5345345345},
 'emp_8': {'name': 'new_emp', 'age': 25, 'salary': 5345345345},
 'emp_9': {'name': 'new_emp', 'age': 25, 'salary': 5345345345, 'pan': 23432},
 'emp_10': {'name': 'new_emp',
  'age': 25,
  'salary': 5345345345,
  'pan': 23432,
  'adhar': 234234}}

In [81]:
def emp_adder(name , age , salary , **kwargs):
    '''This is a function
    used to insert an emp details 
    in emp_data'''
    key = f'emp_{len(emp_data) +1}'
    d = {'name' : name, 'age':age , 'salary':salary}
    d.update(kwargs)
    emp_data.setdefault(key , d)

In [ ]:
emp_adder()

# Return 

- If not used by default every function returns None
- You can return any data type 
- You can execute return only once

In [82]:
def adder(a,b):
    c = a+b
    print(c)

In [84]:
re = adder(10,20)

30

In [85]:
print(re)

None

In [86]:
def adder(a,b):
    c = a+b
    return c

In [87]:
re = adder(10,20)

In [88]:
print(re)

30

In [91]:
def adder(a,b):
    c = a+b
    return [2,3,43]

re = adder(10,20)
print(re)

[2, 3, 43]

In [94]:
def adder(a,b):
    c = a+b
    d = a-b
    return c
    return d

re = adder(10,20)
print(re)

30

In [95]:
def adder(a,b):
    c = a+b
    d = a-b
    return c,d

re = adder(10,20)
print(re)

(30, -10)

In [96]:
def palindrom(x):
    if x == x[::-1]:
        return ('Palindrom')
    else:
        return ('Not a palindrom')

In [97]:
palindrom('level')

'Palindrom'

In [98]:
palindrom('python')

'Not a palindrom'

# Global and local variables

In [100]:
x = 30
y = 40

def adder(a,b):
    c = a+b
    d = a-b
    print(c) 
    print(d)

adder(10,20)

print(x)
print(y)
print(c)
print(d)

30
-10
30
40

NameError: name 'c' is not defined

In [102]:
x = 30
y = 40

def adder(a,b):
    global c
    c = a+b
    global d
    d = a-b
    print(c) 
    print(d)

adder(10,20)

print(x)
print(y)
print(c)
print(d)

30
-10
30
40
30
-10

In [2]:
lst = [23,34,45,67,32,564,56,657,234,564,564,567,768,3,23,34,564]

In [109]:
def function(l):
    e_list = []
    o_list = []
    for i in l:
        if i%2==0:
            e_list.append(i)
        else:
            o_list.append(i)
            
    return e_list , o_list

In [111]:
e_list , o_list = function(lst)

In [112]:
e_list

[34, 32, 564, 56, 234, 564, 564, 768, 34, 564]

In [113]:
o_list

[23, 45, 67, 657, 567, 3, 23]

In [5]:
def function(l):
    global e_list
    e_list = []
    global o_list
    o_list = []
    for i in l:
        if i%2==0:
            e_list.append(i)
        else:
            o_list.append(i)
            
function(lst)

In [6]:
e_list

[34, 32, 564, 56, 234, 564, 564, 768, 34, 564]

In [7]:
o_list

[23, 45, 67, 657, 567, 3, 23]

In [8]:
lst = [23,34,45,67,32,564,56,657,234,564,564,567,768,3,23,34,564]
even=[]
odd=[]
def checkEvenOrOdd(lst):    
    for x in lst:        
        if x % 2 == 0:
            even.append(x)
        else:
            odd.append(x)
        
checkEvenOrOdd(lst)
print(even)
print(odd)

[34, 32, 564, 56, 234, 564, 564, 768, 34, 564]
[23, 45, 67, 657, 567, 3, 23]

# Recursive function

- A function calling itself is called as recursive function

In [9]:
def function():
    a = eval(input('Enter a value : '))
    if a == 0:
        return 'Outside the function'
    else:
        return function()

In [11]:
function()

In [16]:
deposit=0

def funct():
    amt=int(input('Enter the amount : '))
    global deposit
    deposit+=amt
    print(f"Current balance : {deposit}")
    a= input('Dou you want to repeat again : ').upper()
    if(a=='Y'):
        return funct()
    else:
        return ('Have a nice day')
      
        
funct()

Enter the amount : 324
Current balance : 324
Dou you want to repeat again : 324

'Have a nice day'

In [17]:
deposit

324

# Lamda