# Python components

- Identifier rules
- data types
- Blocks and Indentation
- comments

# Identifier rules

- Allowed char are A-Z , a-z , 0-9 , _
- Special char are not allowed
- You cannot start with a number
- Python is an case sensitive lang
- You cannot use reserved word
- Built in function you should not use it

In [ ]:
a = 10

a --> Variable

= --> op

10 --> Value (int)

In [1]:
DATA_sci_1234 = 120

In [2]:
DATA@sci_1234 = 120

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (1548597700.py, line 1)

In [3]:
DATA sci_1234 = 120

SyntaxError: invalid syntax (1525116834.py, line 1)

In [4]:
DATA_sci_1234& = 120

SyntaxError: invalid syntax (1046104222.py, line 1)

In [5]:
DATA_sci_1234 = 120

In [6]:
1234_DATA_sci = 120

SyntaxError: invalid decimal literal (2589264602.py, line 1)

In [7]:
_1234_DATA_sci = 120

In [9]:
a = 10

A = 20

print(a)

10

In [10]:
a

10

In [11]:
A

20

In [12]:
python = 10

Python = 20

In [13]:
print(python)

10

In [14]:
True = 100

SyntaxError: cannot assign to True (1488504101.py, line 1)

In [15]:
if = 20

SyntaxError: invalid syntax (2644998005.py, line 1)

In [16]:
import keyword

print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [17]:
break = 100

SyntaxError: invalid syntax (1765607377.py, line 1)

In [18]:
If = 10

In [20]:
true = 100

In [21]:
global = 10

SyntaxError: invalid syntax (390041413.py, line 1)

In [22]:
print(dir(__builtins__))

['ArithmeticError', 'AssertionError', 'AttributeError', 'BaseException', 'BaseExceptionGroup', 'BlockingIOError', 'BrokenPipeError', 'BufferError', 'BytesWarning', 'ChildProcessError', 'ConnectionAbortedError', 'ConnectionError', 'ConnectionRefusedError', 'ConnectionResetError', 'DeprecationWarning', 'EOFError', 'Ellipsis', 'EncodingWarning', 'EnvironmentError', 'Exception', 'ExceptionGroup', 'False', 'FileExistsError', 'FileNotFoundError', 'FloatingPointError', 'FutureWarning', 'GeneratorExit', 'IOError', 'ImportError', 'ImportWarning', 'IndentationError', 'IndexError', 'InterruptedError', 'IsADirectoryError', 'KeyError', 'KeyboardInterrupt', 'LookupError', 'MemoryError', 'ModuleNotFoundError', 'NameError', 'None', 'NotADirectoryError', 'NotImplemented', 'NotImplementedError', 'OSError', 'OverflowError', 'PendingDeprecationWarning', 'PermissionError', 'ProcessLookupError', 'RecursionError', 'ReferenceError', 'ResourceWarning', 'RuntimeError', 'RuntimeWarning', 'StopAsyncIteration', 'StopIteration', 'SyntaxError', 'SyntaxWarning', 'SystemError', 'SystemExit', 'TabError', 'TimeoutError', 'True', 'TypeError', 'UnboundLocalError', 'UnicodeDecodeError', 'UnicodeEncodeError', 'UnicodeError', 'UnicodeTranslateError', 'UnicodeWarning', 'UserWarning', 'ValueError', 'Warning', 'WindowsError', 'ZeroDivisionError', '__IPYTHON__', '__build_class__', '__debug__', '__doc__', '__import__', '__loader__', '__name__', '__package__', '__spec__', 'abs', 'aiter', 'all', 'anext', 'any', 'ascii', 'bin', 'bool', 'breakpoint', 'bytearray', 'bytes', 'callable', 'chr', 'classmethod', 'compile', 'complex', 'copyright', 'credits', 'delattr', 'dict', 'dir', 'display', 'divmod', 'enumerate', 'eval', 'exec', 'execfile', 'filter', 'float', 'format', 'frozenset', 'get_ipython', 'getattr', 'globals', 'hasattr', 'hash', 'help', 'hex', 'id', 'input', 'int', 'isinstance', 'issubclass', 'iter', 'len', 'license', 'list', 'locals', 'map', 'max', 'memoryview', 'min', 'next', 'object', 'oct', 'open', 'ord', 'pow', 'print', 'property', 'range', 'repr', 'reversed', 'round', 'runfile', 'set', 'setattr', 'slice', 'sorted', 'staticmethod', 'str', 'sum', 'super', 'tuple', 'type', 'vars', 'zip']

In [23]:
a = 10
b = 20

print(a + b)

30

In [24]:
print = 100

In [26]:
print + 1

101

In [27]:
a = 10
b = 20

print(a + b)

TypeError: 'int' object is not callable

In [1]:
a = 10
b = 20

print(a + b)

30

In [2]:
a = 10
b = 20

sum = a+b


print(sum)

30

In [1]:
sum([1,2,3,4])

10

In [3]:
sum([1,2,3,4])

TypeError: 'int' object is not callable

In [5]:
my_var = 10

In [ ]:
abc  = 1
1bc = 0 (starts with a number)
abc1_ = 1
abc__@ = 0 (Cannot contain an special char)
sum = 1 (But you should not use it because it is one of the built in function)
if = 0 (It is an keyword)
If = 1 
False =  0 (It is an keyword)
type = 1 (But you should not use it because it is one of the built in function)
false = 1
@info = 0 (special char)
abc@123 = 0  (special char)
print = 1 (But you should not use it because it is one of the built in function)

In [ ]:
global --> keyword

In [ ]:
max --> built in function

In [ ]:
global_ = 3425

In [ ]:
@info = 34

# Data types

1. Fundamental (basic)
- int -> Any number without a decimal point eg -99 , 0 , 99
- float  -> Any number with a decimal point eg -99.00 , 0.324 , 99.45
- complex
- bool
- string --> anything written inside '..' . ".." , '''..''' , """.."""
- None

2. derived 
- list
- tuple
- set
- dictionary

In [13]:
a = -99


print(a , type(a))

-99 <class 'int'>

In [15]:
a = 999.0000000


print(a , type(a))

999.0 <class 'float'>

In [17]:
a = 34+54j


print(a , type(a))
print(a.real)
print(a.imag)

(34+54j) <class 'complex'>
34.0
54.0

In [ ]:
a + bj
a + bi


where a is the real number and b is the imag

In [19]:
a = False


print(a , type(a))

False <class 'bool'>

In [20]:
a = None


print(a , type(a))

None <class 'NoneType'>

In [ ]:
 emp_name   emp_salary     emp_age
    
    xyz        345345      23
    abc         None       25
    pqr        32455432    None

In [23]:
a = [1,2,3,4,5]

15 / 5

3.0

In [26]:
a = [1,2,0,4,5]


12 / 5

2.4

In [27]:
a = [1,2, None ,4,5]


12 / 4

3.0

In [ ]:
# String

anything written inside '..' . ".." , '''..''' , """.."""

In [40]:
a = '45'


print(a , type(a))

45 <class 'str'>

In [41]:
a = 'python is a programing lang'


print(a , type(a))

python is a programing lang <class 'str'>

In [42]:
a = "python is a programing lang"


print(a , type(a))

python is a programing lang <class 'str'>

In [43]:
a = '''python is a programing lang'''


print(a , type(a))

python is a programing lang <class 'str'>

In [44]:
a = """python is a programing lang"""


print(a , type(a))

python is a programing lang <class 'str'>

In [45]:
a = 'This is python's class'


print(a , type(a))

SyntaxError: unterminated string literal (detected at line 1) (2324368872.py, line 1)

In [46]:
a = "This is python's class"


print(a , type(a))

This is python's class <class 'str'>

In [47]:
a = "This 
is 
python's 
class"


print(a , type(a))

SyntaxError: unterminated string literal (detected at line 1) (1616020889.py, line 1)

In [48]:
a = '''This 
is 
python's 
class'''


print(a , type(a))

This
is
python's
class <class 'str'>

In [49]:
a = """This 
is 
python's 
class"""


print(a , type(a))

This
is
python's
class <class 'str'>

# List

- Anything written inside [] and each elements are seperated by , 
- It is an mutable data type

In [50]:
a = [23,324,342,534,354]


print(a , type(a))

[23, 324, 342, 534, 354] <class 'list'>

In [52]:
a = [23,324,342,534,354]


a[0] = 999999999999999


a

[999999999999999, 324, 342, 534, 354]

# tuple

- Anything written inside () and each elements are seperated by , 
- it is an immutable data type

In [51]:
a = (23,324,342,534,354)


print(a , type(a))

(23, 324, 342, 534, 354) <class 'tuple'>

In [53]:
a = (23,324,342,534,354)


a[0] = 999999999999999


a

TypeError: 'tuple' object does not support item assignment

In [ ]:
 emp_name   emp_salary     emp_age   adhar     pan
    
    xyz         345345       23       324    34j34
    abc         433453       25       453    345j
    pqr        32455432      43       345    23jk34

In [54]:
PI = 3.14

In [55]:
PI = 565

In [56]:
PI

565

# Set

- Anything written inside {} and each elements are seperated by ,

In [57]:
a = {1,2,3,4,5}


print(a , type(a))

{1, 2, 3, 4, 5} <class 'set'>

In [58]:
a = {12,2,3,4,5,12,12,12,12,12,12,12}


print(a , type(a))

{2, 3, 4, 5, 12} <class 'set'>

In [59]:
a = {34,54,213,54,123,34,56,34,34,34}


print(a , type(a))

{34, 213, 54, 56, 123} <class 'set'>

# Dictionary

- Type of brackets are {}
- Each itenms are seperated by ,
- A key and its value are seperated by :
- A key should be unique
- Wheras value be duplicated

In [60]:
a = {'name' : 'xyz' , 'age' :34 , 'salary':3454353}


print(a , type(a))

{'name': 'xyz', 'age': 34, 'salary': 3454353} <class 'dict'>

In [61]:
len(a)

3

In [62]:
a = ['xyz' , 34 , 3454353]


print(a , type(a))

['xyz', 34, 3454353] <class 'list'>

In [63]:
a = ['xyz' , 34 , 3454353]


print(a[0] , 'Name')
print(a[1] , 'Age')
print(a[2] , 'Salary')

xyz Name
34 Age
3454353 Salary

In [65]:
a = [34 , 3454353 , 'xyz']


print(a[0] , 'Name')
print(a[1] , 'Age')
print(a[2] , 'Salary')

34 Name
3454353 Age
xyz Salary

In [66]:
a = {'name' : 'xyz' , 'age' :34 , 'salary':3454353}

print(a['name'] , 'Name')
print(a['age'] , 'Age')
print(a['salary'] , 'Salary')

xyz Name
34 Age
3454353 Salary

In [67]:
a = { 'age' :34 , 'salary':3454353 , 'name' : 'xyz'}

print(a['name'] , 'Name')
print(a['age'] , 'Age')
print(a['salary'] , 'Salary')

xyz Name
34 Age
3454353 Salary

In [94]:
a = {'name' : 'xyz' , 'age' :34 , 'salary':3454353 , None : 'xyz'}

a

{'name': 'xyz', 'age': 34, 'salary': 3454353, None: 'xyz'}

# Comments

- To explain the code
- To stop the execution of spme part of code

In [96]:
pi = 3.14
r = 4

A = r * r


A

16

In [101]:
"""
This is a part
where I am calculating 
the Area of a circle
"""

pi = 3.14 # This is the value taken for the next program
r = 4 # Side of a squre

A = r * r # Area of a square

A

16

In [99]:
a=10
b = 20
c = 30
d = 40


print(a)
# print(b)
# print(d)
print(c)

10
30

In [100]:
a=10
b = 20
c = 30
d = 40


print(a)
'''print(b)
print(d) '''
print(c)

10
30

# Range

syntax

range(start , stop , step)


- start = 0
- step = 1

start --> Inclusive
stop --> Exclusive

In [104]:
list(range(5,10))

[5, 6, 7, 8, 9]

In [105]:
list(range(5,10 , 2))

[5, 7, 9]

In [106]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [107]:
list(range(10 , 101 , 10))

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [108]:
list(range(2,21,2))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [109]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [110]:
list(range(10 , 0 , -1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [112]:
list(range(-1 , -11 , -1))

[-1, -2, -3, -4, -5, -6, -7, -8, -9, -10]

In [ ]:
odd 1-10


1,3,5,7,9

In [113]:
list(range(1,10,2))

[1, 3, 5, 7, 9]

In [115]:
# Table of 5 --> 50,45,40 .....,5

list(range(50 , 0 , -5))

[50, 45, 40, 35, 30, 25, 20, 15, 10, 5]

In [118]:
len(a)

3

In [123]:
list(range(3))

[0, 1, 2]

In [ ]:
# Blocks and Indentation

stat1
stat2
if condition:
    stat3
    stat4
    stat5
stat6

In [124]:
a = 20
b = 10

if a < b:
    print('Python')
    print('SQL')
    print('Java')
print('hello world')

hello world

In [125]:
a = 20
b = 10

if a < b:
    print('Python')
    print('SQL')
print('Java')
print('hello world')

Java
hello world

In [129]:
a = 20
b = 10

if a < b:
                                                print('Python')
    
    
print('SQL')
print('Java')
print('hello world')

SQL
Java
hello world

In [131]:
a = 20
b = 10

if a < b:
                                                print('Python')
    print('SQL')
    
print('Java')
print('hello world')

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 6)

In [132]:
a = 20
b = 10

if a < b:
                                                print('Python')
                                                print('SQL')
    
print('Java')
print('hello world')

Java
hello world

In [135]:
a = 20
b = 10

if a > b:
    print('Python')
    if a == b:
        print('SQL')
        print('Java')
print('hello world')

Python
hello world

In [136]:
a = 20
b = 10

if a > b:
    print('Python')
    if a == b:
        print('SQL')
        print('Java')
print('hello world')

Python
hello world

In [ ]:
# Type casting, Input function , Data type integers