# Logical operators

- And 
- Or 
- Not

### Typecasting to bool


- int --> 0 is false and rest all are true
- float --> 0.0 is false and rest all are True
- complex --> 0+0j is false and rest all are true
- None --> is always false
- str --> '' (empty string is false) and rest all are true

[] , () , {} , set

In [15]:
a = bool(0+0.01j)

print(a , type(a))

True <class 'bool'>

In [18]:
a = bool(' ')

print(a , type(a))

True <class 'bool'>

In [21]:
print(True and False)


print(True and True)

print(False and False)

False
True
False

In [22]:
print(True or False)


print(True or True)

print(False or False)

True
True
False

In [23]:
user_name = 'xyz@gmail.com'
password = 'python'

In [24]:
a = input('Enter the user name : ')
b = input('Enter the password : ')

if (a == user_name ) and (b == password):
    print('Logged IN')
else:
    print('Incorrect Info')

Enter the user name : xyz@gmail.com
Enter the password : hello world
Incorrect Info

In [25]:
True and False

False

In [28]:
a = input('Enter the user name : ')
b = input('Enter the password : ')

if (a == user_name ) or (b == password):
    print('Logged IN')
else:
    print('Incorrect Info')

Enter the user name : xyz@gmail.com
Enter the password : python
Logged IN

In [27]:
True or False

True

In [29]:
not True

False

In [30]:
not False

True

In [34]:
not True

False

In [37]:
a = input('Enter the user name : ')
b = input('Enter the password : ')

if (a == user_name ) and (not b == password):
    print('Logged IN')
else:
    print('Incorrect Info')

Enter the user name : xyz@gmail.com
Enter the password : python
Incorrect Info

In [38]:
print(True or False)

True

In [40]:
print(0 or 23)

23

In [ ]:
# If values are included there is an small deviation

And

A and B --> result will be A if A if False else B


OR

A or B ---> result will be A if A if True else B

In [41]:
print(34 or 23)

34

In [42]:
print(34 and 23)

23

In [ ]:
bodmas 


ba 
of 
div
mul
add 
sub

In [56]:
print('hello' and 'world')

world

In [57]:
print('hello' or 'world')

hello

In [69]:
israr_ = [34 , 0 , 35 , 0 , 0 , 37]


balraj = [34 , 32 , 35 , 0 , 36 , 37]


bala   = [34 , 32 , 35 , 56 , 36 , 37]

In [70]:
for i in range(len(israr_)):
    print(israr_[i] or balraj[i]  or bala[i])

34
32
35
56
36
37

# Assignment operators

=

In [76]:
x = 5

# add 2 to existing value of x and reassign it to the same value

In [84]:
x = x+2

print(x)

21

In [85]:
x = 5

# add 2 to existing value of x and reassign it to the same value

In [91]:
x += 2

print(x)

17

In [95]:
x = 5

# add 2 to existing value of x and reassign it to the same value

x -= 2

print(x)

3

In [96]:
x = 5

# add 2 to existing value of x and reassign it to the same value

x *= 2

print(x)

10

In [98]:
x = 5

# add 2 to existing value of x and reassign it to the same value

x //= 2

print(x)

2

In [99]:
x = 5

# add 2 to existing value of x and reassign it to the same value

x **= 2

print(x)

25

In [100]:
x = 5

# add 2 to existing value of x and reassign it to the same value

x %= 2

print(x)

1

In [105]:
x = 5

# add 2 to existing value of x and reassign it to the same value

x *= -3

print(x)

-15

In [106]:
x = '10'

x += '20'

x

'1020'

In [107]:
x = '10'

x = x +'20'

x

'1020'

# Bitwise operators

- bitwise and (&)
- bitwise or (|)
- bitwise xor (^)
- bitwise left shift (<<)
- bitwise right shift (>>)
- bitwise or (~)

In [110]:
a = 56
b = 77


print( a and b )

print( a & b )

77
8

In [111]:
a = 56
b = 77


print( a or b )

print( a | b )

56
125

In [115]:
a = 56
b = 77


print( a and b )

print( a & b )

77
8

In [113]:
bin(77)

'0b1001101'

In [ ]:
56 --> 0   1    1    1    0     0     0

77 --> 1   0    0    1    1     0     1


        0    0     0     1     0     0       0

In [114]:
int(0b0001000)

8

In [117]:
a = 56
b = 77


print( a | b )

125

In [ ]:
56 --> 0   1    1    1    0     0     0

77 --> 1   0    0    1    1     0     1


       1     1     1     1     1     0      1

In [118]:
int(0b1111101)

125

In [120]:
a = 56
b = 77


print( a ^ b )

117

In [ ]:
56 --> 0   1    1    1    0     0     0

77 --> 1   0    0    1    1     0     1


       1     1    1      0     1      0      1

In [119]:
int(0b1110101)

117

In [ ]:
# bitwise left shift <<

A * (2**n)

In [122]:
x = 56


print(x << 3)

448

In [123]:
56 * (2 ** 3)

448

In [125]:
x = 77


print(x << 2)

308

In [124]:
77 * (2 **2)

308

In [128]:
x = 56


print(x << 3)

448

In [131]:
x = 77


print(x << 2)

308

In [134]:
x = 10


print(x << 4)

160

In [132]:
bin(10)

'0b1010'

In [133]:
int(0b10100000)

160

# bitwise right shift >>

A // (2**n)

In [136]:
x = 56


print(x >> 3)

7

In [135]:
56 // (2**3)

7

In [137]:
bin(56)

'0b111000'

In [138]:
int(0b000111)

7

In [141]:
x = 99


print(x >> 4)

6

In [139]:
bin(99)

'0b1100011'

In [140]:
int(0b0000110)

6

In [ ]:
# Bitwise or (~)

- adds 1 to the existing value
- It converts it sign

In [142]:
x = 45

print(~x)

-46

In [143]:
x = -99

print(~x)

98

# Identity operators

is 


is not

In [145]:
a = 10
b = 20
c = 10

print(id(a))

print(id(b))

print(id(c))

140714801009736
140714801010056
140714801009736

In [146]:
a = 500
b = 500


print(id(a))

print(id(b))

2205841577808
2205841578608

In [147]:
a = 34
b = 34


print(id(a))

print(id(b))

print(a is b)

140714801010504
140714801010504
True

In [153]:
a = 34
b = 34


print(id(a))

print(id(b))

print(a is b)

print(a == b)

140714801010504
140714801010504
True
True

In [152]:
a = 340
b = 340


print(id(a))

print(id(b))

print(a is b)

print(a == b)

2205841578864
2205841578160
False
True

In [155]:
a = 34.123
b = 34.123


print(id(a))

print(id(b))

print(a is b)

2205824301904
2205841582416
False

In [156]:
a = 34+5j
b = 34+5j


print(id(a))

print(id(b))

print(a is b)

2205841578608
2205841577456
False

In [157]:
a = None
b = None


print(id(a))

print(id(b))

print(a is b)

140714799622896
140714799622896
True

In [158]:
a = True
b = True


print(id(a))

print(id(b))

print(a is b)

140714799540768
140714799540768
True

In [159]:
a = True
b = 1


print(id(a))

print(id(b))

print(a is b)

140714799540768
140714801009448
False

In [160]:
a = 'DATA_science123'
b = 'DATA_science123'


print(id(a))

print(id(b))

print(a is b)

2205842737392
2205842737392
True

In [161]:
a = 'DATA science123'
b = 'DATA science123'


print(id(a))

print(id(b))

print(a is b)

2205822728624
2205842738800
False

In [ ]:
# Memory reusability


applicable for

int --> -5 to 256 
None
bool
string --> A-Z,a-z,0-9 , _


not applicable for
- int
- float
- complex

# Task

- arith
- compa
- equality
- logical
- assignm
- bitwise
- identity

In [ ]:
# Float , complex