# Float


- Any number with a decimal point

In [3]:
a = 88.0

print(a , type(a))

88.0 <class 'float'>

# Operations possible on float

- Arithmetic operations
- Comparision
- Equality 
- logical 
- Assignment
- identity

# Operations not possible on float
- bitwise


### Note:- But the memory reusability is not applicable

In [22]:
a = 34.23
b = 54.54

a | b

TypeError: unsupported operand type(s) for |: 'float' and 'float'

In [24]:
a = 54.54
b = 54.54

print(id(a))
print(id(b))

a is b

2724383035024
2724396589456

False

# Complex


written in a form of a+bj

where a is the real
b is the imaginary

In [25]:
a = 34+8j

print(a , type(a))

(34+8j) <class 'complex'>

In [26]:
print(a.real)

34.0

In [27]:
print(a.imag)

8.0

# Operations possible on complex

- Arithmetic operations except floor div , modulo
- equality
- logical
- Assignment except  floor div , modulo
- identity

# Operations not possible on complex

- floor
- modulo
- comparision 
- bitwise


### Note:- But the memory reusability is not applicable

In [55]:
a = 34+45j
b = 23 + 7j


print(a & b)

TypeError: unsupported operand type(s) for &: 'complex' and 'complex'

In [48]:
bool(70)

True

In [54]:
a = 34+45j
b = 23 + 7j


a *= b

a

(467+1273j)

In [53]:
bin(34+543j)

TypeError: 'complex' object cannot be interpreted as an integer

In [56]:
a = 34+45j
b = 34+45j


print(a is b)

False

In [58]:
a = 34+45j
b = 23 + 7j


print(a or b)

(34+45j)

In [61]:
a = 34+45j
b = 23 + 7j


print(a or b)

(34+45j)

In [ ]:
A and B

result will be A if a is false else b

# String

In [62]:
a = 'python'



print(a , type(a))

python <class 'str'>

In [68]:
a = "python's"



print(a , type(a))

python's <class 'str'>

In [63]:
a = "python"



print(a , type(a))

python <class 'str'>

In [66]:
a = '''python
java
big data'''



print(a , type(a))

python
java
big data <class 'str'>

In [65]:
a = """python"""



print(a , type(a))

python <class 'str'>

# Properties of string 

- It is an seq data type

- Indexing and Slicing

In [ ]:
# Indexing 

- Accesing or extracting 1 element or char at a time

2 types of index values are assigned

+ve index --> Assigned in L-R direction --> Starts from 0
-ve index values --> Assigned in R-L direction ---> Starts from -1

syntax

var[index value]

In [86]:
a= 'PYTHON'

print(a[2])
print(a[-4])

T
T

In [ ]:
# Slicing 

- Accesing or extracting multiple elements or chars at a time

var[start : stop : step]


start --> inclusive
stop ---> exclusive
step --> by default +ve 1


default values piked up by python

a[:] or a[::1]

If the step is +ve 
start = 0
stop = len(str)


a[::-1]

If the step is -ve 
start = -1
stop = -(len(str) + 1)

In [89]:
a = 'python'


print(a[:])

print(a[: : 1])

print(a[: : -1])

python
python
nohtyp

In [90]:
a = '09-03-2024'

In [91]:
# Day?
print(a[:2])
print(a[0:2])
print(a[:2])
print(a[-10:2])
print(a[-10:-8])
print(a[0:-8])

09
09
09
09
09
09

In [92]:
# month?
print(a[3:5])
print(a[3:-5])
print(a[-7:-5])
print(a[-7:5])

03
03
03
03

In [93]:
# year?
print(a[6:])
print(a[6:10])
print(a[-4:10])

2024
2024
2024

In [94]:
# Day? - reverse 90
print(a[-9::-1])
print(a[-9:-11:-1])
print(a[1::-1])
print(a[1:-11:-1])

90
90
90
90

# Properties of string 

- It is an seq data type
- It allows to perform Indexing and Slicing
- basic operations - concatination , repetation , membership , identity

#### Note: It is an immutable data type

In [96]:
# concatination
# op --> +
# operands --> both should be a string

a = 'xyz'
b = 'pqr'


a + b

'xyzpqr'

In [97]:
a = 'xyz'
b = 54


a + b

TypeError: can only concatenate str (not "int") to str

In [98]:
a = '10'
b = 20


a + b

TypeError: can only concatenate str (not "int") to str

In [101]:
# repetation
# op --> *
# operands --> One should be a string and another should be an int

a = 'xyz'
b = 3


a * b

'xyzxyzxyz'

In [102]:

a = '10'
b = 3


a * b

'101010'

In [103]:

a = [2,3,4]

b = 3


a * b

[2, 3, 4, 2, 3, 4, 2, 3, 4]

In [ ]:
# membership
in 
not in

- if the sub seq is present in the seq or not

In [108]:
a = 'this is python class'

'p' in a

True

In [109]:
a = 'this is python class'

'j' in a

False

In [110]:
a = 'this is python class'

'j' not in a

True

In [111]:
a = 'this is python class'

'python' in a

True

In [112]:
a = 'this is python class'

'si' in a

False

In [113]:
a = 'this is python class'

'si' in a[::-1]

True

In [114]:
a = 'this is python class'

'SI' in a[::-1]

False

In [118]:
a = 'python'
b = 'python'


print(a == b) # Equa


print(a is b) # iden


print(a in b) # mem

True
True
True

In [119]:
a = 'python java'
b = 'python java'


print(a == b) # Equa


print(a is b) # iden


print(a in b) # mem

True
False
True

In [120]:
a = 'python'
b = 'python java'


print(a == b) # Equa


print(a is b) # iden


print(a in b) # mem

False
False
True

# It is an immutable data type

In [135]:
a = 'python'

a[0] = 'j'

TypeError: 'str' object does not support item assignment

In [152]:
a = 'python'

a.replace('p' , 'j')

'jython'

In [153]:
a

'python'

In [150]:
a = [1,2,3]

a.append(9999)

In [151]:
a

[1, 2, 3, 9999]

# Methods on string

In [121]:
print(dir(str))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [154]:
# capitalize - More specifically, make the first character have upper case and the rest lower case.


a = 'this is PYTHONS class'

print(a.capitalize())

This is pythons class

In [155]:
a

'this is PYTHONS class'

In [156]:
a = 'this is PYTHONS class'

# lower --> return a copy of the string converted to lowercase.

print(a.lower())

this is pythons class

In [160]:
a = 'this is PYTHONS class'

# lower --> return a copy of the string converted to lowercase.

print(a.casefold())

this is pythons class

In [157]:
a = 'this is PYTHONS class'

# upper --> return a copy of the string converted to uppercase.

print(a.upper())

THIS IS PYTHONS CLASS

In [158]:
a = 'this is PYTHONS class'

# Return a version of the string where each word is titlecased.

print(a.title())

This Is Pythons Class

In [159]:

a = 'this is PYTHONS class'

print(a.capitalize())

This is pythons class

# Remaining functions