In [10]:
a = {'emp_1' : {'name' : 'Israr' , 'age':44 , 'salary':434234324} ,
    'emp_2' : {'name' : 'Abhishek' , 'age':33 , 'salary':545345} ,
    'emp_3' : {'name' : 'Dona' , 'age':23 , 'salary':5346546} ,
    'emp_4' : {'name' : 'Madhumita' , 'age':28 , 'salary':456456} }


a['emp_2']['age'] = 34

a

{'emp_1': {'name': 'Israr', 'age': 44, 'salary': 434234324},
 'emp_2': {'name': 'Abhishek', 'age': 34, 'salary': 545345},
 'emp_3': {'name': 'Dona', 'age': 23, 'salary': 5346546},
 'emp_4': {'name': 'Madhumita', 'age': 28, 'salary': 456456}}

In [7]:
a = {'emp_1' : {'name' : 'Israr' , 'age':44 , 'salary':434234324} ,
    'emp_2' : {'name' : 'Abhishek' , 'age':33 , 'salary':545345} ,
    'emp_3' : {'name' : 'Dona' , 'age':23 , 'salary':5346546} ,
    'emp_4' : {'name' : 'Madhumita' , 'age':28 , 'salary':456456} }

# If the key is not present

a['emp_5'] =  {'name' : 'new_emp' , 'age':65 , 'salary':4356456456} 

a

{'emp_1': {'name': 'Israr', 'age': 44, 'salary': 434234324},
 'emp_2': {'name': 'Abhishek', 'age': 33, 'salary': 545345},
 'emp_3': {'name': 'Dona', 'age': 23, 'salary': 5346546},
 'emp_4': {'name': 'Madhumita', 'age': 28, 'salary': 456456},
 'emp_5': {'name': 'new_emp', 'age': 65, 'salary': 4356456456}}

In [8]:
a = {'emp_1' : {'name' : 'Israr' , 'age':44 , 'salary':434234324} ,
    'emp_2' : {'name' : 'Abhishek' , 'age':33 , 'salary':545345} ,
    'emp_3' : {'name' : 'Dona' , 'age':23 , 'salary':5346546} ,
    'emp_4' : {'name' : 'Madhumita' , 'age':28 , 'salary':456456} }

# If the key is present

a['emp_3'] =  {'name' : 'new_emp' , 'age':65 , 'salary':4356456456} 

a

{'emp_1': {'name': 'Israr', 'age': 44, 'salary': 434234324},
 'emp_2': {'name': 'Abhishek', 'age': 33, 'salary': 545345},
 'emp_3': {'name': 'new_emp', 'age': 65, 'salary': 4356456456},
 'emp_4': {'name': 'Madhumita', 'age': 28, 'salary': 456456}}

# Methods of dictionary

In [1]:
print(dir(dict))

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

# Methods to access the items in our dict


- get
- setdefault
- update

# get

In [11]:
# If the key is present 

a = {'emp_1' : {'name' : 'Israr' , 'age':44 , 'salary':434234324} ,
    'emp_2' : {'name' : 'Abhishek' , 'age':33 , 'salary':545345} ,
    'emp_3' : {'name' : 'Dona' , 'age':23 , 'salary':5346546} ,
    'emp_4' : {'name' : 'Madhumita' , 'age':28 , 'salary':456456} }


a.get('emp_2')

{'name': 'Abhishek', 'age': 33, 'salary': 545345}

In [12]:
# If the key is not present 

a = {'emp_1' : {'name' : 'Israr' , 'age':44 , 'salary':434234324} ,
    'emp_2' : {'name' : 'Abhishek' , 'age':33 , 'salary':545345} ,
    'emp_3' : {'name' : 'Dona' , 'age':23 , 'salary':5346546} ,
    'emp_4' : {'name' : 'Madhumita' , 'age':28 , 'salary':456456} }


print(a.get('emp_8'))

None

In [16]:
# If the key is not present 

a = {'emp_1' : {'name' : 'Israr' , 'age':44 , 'salary':434234324} ,
    'emp_2' : {'name' : 'Abhishek' , 'age':33 , 'salary':545345} ,
    'emp_3' : {'name' : 'Dona' , 'age':23 , 'salary':5346546} ,
    'emp_4' : {'name' : 'Madhumita' , 'age':28 , 'salary':456456} }


print(a.get('emp_8' , 'The emp you are searching for is not present in the data base'))

The emp you are searching for is not present in the data base

In [18]:
a = {'emp_1' : {'name' : 'Israr' , 'age':44 , 'salary':434234324} ,
    'emp_2' : {'name' : 'Abhishek' , 'age':33 , 'salary':545345} ,
    'emp_3' : {'name' : 'Dona' , 'age':23 , 'salary':5346546} ,
    'emp_4' : {'name' : 'Madhumita' , 'age':28 , 'salary':456456},
    'emp_8' : {'name' : 'Madhumita' , 'age':28 , 'salary':456456}}


print(a.get('emp_9' , 'The emp you are searching for is not present in the data base'))

The emp you are searching for is not present in the data base

In [20]:

a = {'emp_1' : {'name' : 'Israr' , 'age':44 , 'salary':434234324} ,
    'emp_2' : {'name' : 'Abhishek' , 'age':33 , 'salary':545345} ,
    'emp_3' : {'name' : 'Dona' , 'age':23 , 'salary':5346546} ,
    'emp_4' : {'name' : 'Madhumita' , 'age':28 , 'salary':456456} }


a.get('emp_3').get('age')

23

In [22]:

a = {'emp_1' : {'name' : 'Israr' , 'age':44 , 'salary':434234324} ,
    'emp_2' : {'name' : 'Abhishek' , 'age':33 , 'salary':545345} ,
    'emp_3' : {'name' : 'Dona' , 'age':23 , 'salary':5346546} ,
    'emp_4' : {'name' : 'Madhumita' , 'age':28 , 'salary':456456} }


a.get('emp_3').get('pan' , 'custome mess')

'custome mess'

# Setdefault

In [25]:
# If the key is present 


a = {'emp_1' : {'name' : 'Israr' , 'age':44 , 'salary':434234324} ,
    'emp_2' : {'name' : 'Abhishek' , 'age':33 , 'salary':545345} ,
    'emp_3' : {'name' : 'Dona' , 'age':23 , 'salary':5346546} ,
    'emp_4' : {'name' : 'Madhumita' , 'age':28 , 'salary':456456} }


a.setdefault('emp_1')

{'name': 'Israr', 'age': 44, 'salary': 434234324}

In [26]:
# If the key is not present 


a = {'emp_1' : {'name' : 'Israr' , 'age':44 , 'salary':434234324} ,
    'emp_2' : {'name' : 'Abhishek' , 'age':33 , 'salary':545345} ,
    'emp_3' : {'name' : 'Dona' , 'age':23 , 'salary':5346546} ,
    'emp_4' : {'name' : 'Madhumita' , 'age':28 , 'salary':456456} }


a.setdefault('emp_8')

In [27]:
a

{'emp_1': {'name': 'Israr', 'age': 44, 'salary': 434234324},
 'emp_2': {'name': 'Abhishek', 'age': 33, 'salary': 545345},
 'emp_3': {'name': 'Dona', 'age': 23, 'salary': 5346546},
 'emp_4': {'name': 'Madhumita', 'age': 28, 'salary': 456456},
 'emp_8': None}

In [28]:
a = {'emp_1' : {'name' : 'Israr' , 'age':44 , 'salary':434234324} ,
    'emp_2' : {'name' : 'Abhishek' , 'age':33 , 'salary':545345} ,
    'emp_3' : {'name' : 'Dona' , 'age':23 , 'salary':5346546} ,
    'emp_4' : {'name' : 'Madhumita' , 'age':28 , 'salary':456456} }


a.setdefault('emp_8' , {'name' : 'new_emp' , 'age':28 , 'salary':456456})

{'name': 'new_emp', 'age': 28, 'salary': 456456}

In [29]:
a

{'emp_1': {'name': 'Israr', 'age': 44, 'salary': 434234324},
 'emp_2': {'name': 'Abhishek', 'age': 33, 'salary': 545345},
 'emp_3': {'name': 'Dona', 'age': 23, 'salary': 5346546},
 'emp_4': {'name': 'Madhumita', 'age': 28, 'salary': 456456},
 'emp_8': {'name': 'new_emp', 'age': 28, 'salary': 456456}}

# Update

In [31]:
a = {'emp_1' : {'name' : 'Israr' , 'age':44 , 'salary':434234324} ,
    'emp_2' : {'name' : 'Abhishek' , 'age':33 , 'salary':545345} ,
    'emp_3' : {'name' : 'Dona' , 'age':23 , 'salary':5346546} ,
    'emp_4' : {'name' : 'Madhumita' , 'age':28 , 'salary':456456} }


a.update('emp_2')

ValueError: dictionary update sequence element #0 has length 1; 2 is required

In [ ]:
b = {'emp_1' : {'name' : 'new_emp_1' , 'age':44 , 'salary':434234324} ,
    'emp_2' : {'name' : 'new_emp_2' , 'age':33 , 'salary':545345}}

In [32]:
a = {'emp_1' : {'name' : 'Israr' , 'age':44 , 'salary':434234324} ,
    'emp_2' : {'name' : 'Abhishek' , 'age':33 , 'salary':545345} ,
    'emp_3' : {'name' : 'Dona' , 'age':23 , 'salary':5346546} ,
    'emp_4' : {'name' : 'Madhumita' , 'age':28 , 'salary':456456} }

b = {'emp_1' : {'name' : 'new_emp_1' , 'age':44 , 'salary':434234324} ,
    'emp_2' : {'name' : 'new_emp_2' , 'age':33 , 'salary':545345}}


a.update(b)

In [33]:
a

{'emp_1': {'name': 'new_emp_1', 'age': 44, 'salary': 434234324},
 'emp_2': {'name': 'new_emp_2', 'age': 33, 'salary': 545345},
 'emp_3': {'name': 'Dona', 'age': 23, 'salary': 5346546},
 'emp_4': {'name': 'Madhumita', 'age': 28, 'salary': 456456}}

In [34]:
a = {'emp_1' : {'name' : 'Israr' , 'age':44 , 'salary':434234324} ,
    'emp_2' : {'name' : 'Abhishek' , 'age':33 , 'salary':545345} ,
    'emp_3' : {'name' : 'Dona' , 'age':23 , 'salary':5346546} ,
    'emp_4' : {'name' : 'Madhumita' , 'age':28 , 'salary':456456} }

b = {'emp_11' : {'name' : 'new_emp_1' , 'age':44 , 'salary':434234324} ,
    'emp_12' : {'name' : 'new_emp_2' , 'age':33 , 'salary':545345}}


a.update(b)

In [35]:
a

{'emp_1': {'name': 'Israr', 'age': 44, 'salary': 434234324},
 'emp_2': {'name': 'Abhishek', 'age': 33, 'salary': 545345},
 'emp_3': {'name': 'Dona', 'age': 23, 'salary': 5346546},
 'emp_4': {'name': 'Madhumita', 'age': 28, 'salary': 456456},
 'emp_11': {'name': 'new_emp_1', 'age': 44, 'salary': 434234324},
 'emp_12': {'name': 'new_emp_2', 'age': 33, 'salary': 545345}}

In [ ]:
# HR

- name 
- age
- salary


emp_6 ---
emp_7 --- 
emp_8 -->

In [38]:
emp_data = {'emp_1' : {'name' : 'Israr' , 'age':44 , 'salary':434234324} ,
    'emp_2' : {'name' : 'Abhishek' , 'age':33 , 'salary':545345} ,
    'emp_3' : {'name' : 'Dona' , 'age':23 , 'salary':5346546} ,
    'emp_4' : {'name' : 'Madhumita' , 'age':28 , 'salary':456456} ,
    'emp_5' : {'name' : 'John' , 'age':34 , 'salary':456456}}

get 

- only accessing the existing data
- If the key is not present by default it returns None
- If the key is not present you can pass your custom message
- update as well as insert is not possible

setdefault
- accessing is possible
- can insert any new item
- cannot insert multiple items
- cannot update the existing item

update

- cannot access the exising 
- can insert 1 or multiple items as well
- can change the existing items

In [43]:
emp_data = {'emp_1' : {'name' : 'Israr' , 'age':44 , 'salary':434234324} ,
    'emp_2' : {'name' : 'Abhishek' , 'age':33 , 'salary':545345} ,
    'emp_3' : {'name' : 'Dona' , 'age':23 , 'salary':5346546} ,
    'emp_4' : {'name' : 'Madhumita' , 'age':28 , 'salary':456456} ,
    'emp_5' : {'name' : 'John' , 'age':34 , 'salary':456456}}

In [45]:
name = input('Enter the name : ')
age = eval(input('Enter the age : '))
salary = eval(input('Enter the salary : '))

key = f'emp_{len(emp_data) +1}'


emp_data.setdefault(key , {'name' : name, 'age':age , 'salary':salary})

emp_data

Enter the name : lmn
Enter the age : 65
Enter the salary : 34534534

{'emp_1': {'name': 'Israr', 'age': 44, 'salary': 434234324},
 'emp_2': {'name': 'Abhishek', 'age': 33, 'salary': 545345},
 'emp_3': {'name': 'Dona', 'age': 23, 'salary': 5346546},
 'emp_4': {'name': 'Madhumita', 'age': 28, 'salary': 456456},
 'emp_5': {'name': 'John', 'age': 34, 'salary': 456456},
 'emp_6': {'name': 'xyz', 'age': 43, 'salary': 654645654},
 'emp_7': {'name': 'lmn', 'age': 65, 'salary': 34534534}}

In [46]:
name = input('Enter the name : ')
age = eval(input('Enter the age : '))
salary = eval(input('Enter the salary : '))

key = f'emp_{len(emp_data) +1}'


emp_data.update({key : {'name' : name, 'age':age , 'salary':salary}})

emp_data

Enter the name : pqr
Enter the age : 56
Enter the salary : 3425345345

{'emp_1': {'name': 'Israr', 'age': 44, 'salary': 434234324},
 'emp_2': {'name': 'Abhishek', 'age': 33, 'salary': 545345},
 'emp_3': {'name': 'Dona', 'age': 23, 'salary': 5346546},
 'emp_4': {'name': 'Madhumita', 'age': 28, 'salary': 456456},
 'emp_5': {'name': 'John', 'age': 34, 'salary': 456456},
 'emp_6': {'name': 'xyz', 'age': 43, 'salary': 654645654},
 'emp_7': {'name': 'lmn', 'age': 65, 'salary': 34534534},
 'emp_8': {'name': 'pqr', 'age': 56, 'salary': 3425345345}}

In [50]:
name = input('Enter the name : ')
age = eval(input('Enter the age : '))
salary = eval(input('Enter the salary : '))

new_emp_id = f"emp_{len(emp_data) + 1}"
emp_data[new_emp_id] = {'name': name, 'age': age, 'salary': salary}

print(f"Employee {new_emp_id} added successfully!")
emp_data

Enter the name : uyer
Enter the age : 345
Enter the salary : 45634534534
Employee emp_10 added successfully!

{'emp_1': {'name': 'Israr', 'age': 44, 'salary': 434234324},
 'emp_2': {'name': 'Abhishek', 'age': 33, 'salary': 545345},
 'emp_3': {'name': 'Dona', 'age': 23, 'salary': 5346546},
 'emp_4': {'name': 'Madhumita', 'age': 28, 'salary': 456456},
 'emp_5': {'name': 'John', 'age': 34, 'salary': 456456},
 'emp_6': {'name': 'xyz', 'age': 43, 'salary': 654645654},
 'emp_7': {'name': 'lmn', 'age': 65, 'salary': 34534534},
 'emp_8': {'name': 'pqr', 'age': 56, 'salary': 3425345345},
 'emp_9': {'name': 'tyu', 'age': 34, 'salary': 543534534, 'New': 'details'},
 'emp_10': {'name': 'uyer', 'age': 345, 'salary': 45634534534}}

In [65]:
emp_data = {'emp_1': {'name': 'Israr', 'age': 44, 'salary': 434234324},
 'emp_2': {'name': 'Abhishek', 'age': 33, 'salary': 545345},
 'emp_3': {'name': 'Dona', 'age': 23, 'salary': 5346546},
 'emp_4': {'name': 'Madhumita', 'age': 28, 'salary': 456456},
 'emp_5': {'name': 'John', 'age': 34, 'salary': 456456},
 'emp_6': {'name': 'xyz', 'age': 43, 'salary': 654645654},
 'emp_7': {'name': 'lmn', 'age': 65, 'salary': 34534534},
 'emp_8': {'name': 'pqr', 'age': 56, 'salary': 3425345345},
 'emp_9': {'name': 'tyu', 'age': 34, 'salary': 543534534, 'New': 'details'},
 'emp_10': {'name': 'uyer', 'age': 345, 'salary': 45634534534}}

emp_data

{'emp_1': {'name': 'Israr', 'age': 44, 'salary': 434234324},
 'emp_2': {'name': 'Abhishek', 'age': 33, 'salary': 545345},
 'emp_3': {'name': 'Dona', 'age': 23, 'salary': 5346546},
 'emp_4': {'name': 'Madhumita', 'age': 28, 'salary': 456456},
 'emp_5': {'name': 'John', 'age': 34, 'salary': 456456},
 'emp_6': {'name': 'xyz', 'age': 43, 'salary': 654645654},
 'emp_7': {'name': 'lmn', 'age': 65, 'salary': 34534534},
 'emp_8': {'name': 'pqr', 'age': 56, 'salary': 3425345345},
 'emp_9': {'name': 'tyu', 'age': 34, 'salary': 543534534, 'New': 'details'},
 'emp_10': {'name': 'uyer', 'age': 345, 'salary': 45634534534}}

In [54]:
emp_data['emp_8']['New']

KeyError: 'New'

In [58]:
emp_data

{'emp_1': {'name': 'Israr', 'age': 44, 'salary': 434234324},
 'emp_2': {'name': 'Abhishek', 'age': 33, 'salary': 545345},
 'emp_3': {'name': 'Dona', 'age': 23, 'salary': 5346546},
 'emp_4': {'name': 'Madhumita', 'age': 28, 'salary': 456456},
 'emp_5': {'name': 'John', 'age': 34, 'salary': 456456},
 'emp_6': {'name': 'xyz', 'age': 43, 'salary': 654645654},
 'emp_7': {'name': 'lmn', 'age': 65, 'salary': 34534534},
 'emp_8': {'name': 'pqr', 'age': 56, 'salary': 3425345345},
 'emp_9': {'name': 'tyu', 'age': 34, 'salary': 543534534, 'New': 'details'},
 'emp_10': {'name': 'uyer', 'age': 345, 'salary': 45634534534}}

In [72]:
for i in emp_data:
    emp_data[i].setdefault('New')

In [63]:
for i in emp_data:
    emp_data[i].update({'New':None})

In [73]:
emp_data

{'emp_1': {'name': 'Israr', 'age': 44, 'salary': 434234324, 'New': None},
 'emp_2': {'name': 'Abhishek', 'age': 33, 'salary': 545345, 'New': None},
 'emp_3': {'name': 'Dona', 'age': 23, 'salary': 5346546, 'New': None},
 'emp_4': {'name': 'Madhumita', 'age': 28, 'salary': 456456, 'New': None},
 'emp_5': {'name': 'John', 'age': 34, 'salary': 456456, 'New': None},
 'emp_6': {'name': 'xyz', 'age': 43, 'salary': 654645654, 'New': None},
 'emp_7': {'name': 'lmn', 'age': 65, 'salary': 34534534, 'New': None},
 'emp_8': {'name': 'pqr', 'age': 56, 'salary': 3425345345, 'New': None},
 'emp_9': {'name': 'tyu', 'age': 34, 'salary': 543534534, 'New': 'details'},
 'emp_10': {'name': 'uyer', 'age': 345, 'salary': 45634534534, 'New': None}}

In [75]:
emp_data['emp_4']['New']

In [ ]:
emp_data = {'emp_1': {'name': 'Israr', 'age': 44, 'salary': 434234324},
 'emp_2': {'name': 'Abhishek', 'age': 33, 'salary': 545345},
 'emp_3': {'name': 'Dona', 'age': 23, 'salary': 5346546},
 'emp_4': {'name': 'Madhumita', 'age': 28, 'salary': 456456},
 'emp_5': {'name': 'John', 'age': 34, 'salary': 456456},
 'emp_6': {'name': 'xyz', 'age': 43, 'salary': 654645654},
 'emp_7': {'name': 'lmn', 'age': 65, 'salary': 34534534},
 'emp_8': {'name': 'pqr', 'age': 56, 'salary': 3425345345},
 'emp_9': {'name': 'tyu', 'age': 34, 'salary': 543534534, 'New': 'details'},
 'emp_10': {'name': 'uyer', 'age': 345, 'salary': 45634534534}}

emp_data



for i in emp_data:
    if 'New' not in i:
        emp_data[i]['New'] = None

print(emp_data)

In [76]:
emp_data

{'emp_1': {'name': 'Israr', 'age': 44, 'salary': 434234324, 'New': None},
 'emp_2': {'name': 'Abhishek', 'age': 33, 'salary': 545345, 'New': None},
 'emp_3': {'name': 'Dona', 'age': 23, 'salary': 5346546, 'New': None},
 'emp_4': {'name': 'Madhumita', 'age': 28, 'salary': 456456, 'New': None},
 'emp_5': {'name': 'John', 'age': 34, 'salary': 456456, 'New': None},
 'emp_6': {'name': 'xyz', 'age': 43, 'salary': 654645654, 'New': None},
 'emp_7': {'name': 'lmn', 'age': 65, 'salary': 34534534, 'New': None},
 'emp_8': {'name': 'pqr', 'age': 56, 'salary': 3425345345, 'New': None},
 'emp_9': {'name': 'tyu', 'age': 34, 'salary': 543534534, 'New': 'details'},
 'emp_10': {'name': 'uyer', 'age': 345, 'salary': 45634534534, 'New': None}}

# Methods to remove the items from the dict

- pop
- popitem

In [77]:
print(dir(dict))

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

# POP


- It'll remove the items according to the key
- And returns you the value of the removed item

In [88]:
emp_data = {'emp_1': {'name': 'Israr', 'age': 44, 'salary': 434234324},
 'emp_2': {'name': 'Abhishek', 'age': 33, 'salary': 545345},
 'emp_3': {'name': 'Dona', 'age': 23, 'salary': 5346546},
 'emp_4': {'name': 'Madhumita', 'age': 28, 'salary': 456456},
 'emp_5': {'name': 'John', 'age': 34, 'salary': 456456},
 'emp_6': {'name': 'xyz', 'age': 43, 'salary': 654645654},
 'emp_7': {'name': 'lmn', 'age': 65, 'salary': 34534534},
 'emp_8': {'name': 'pqr', 'age': 56, 'salary': 3425345345},
 'emp_9': {'name': 'tyu', 'age': 34, 'salary': 543534534, 'New': 'details'},
 'emp_10': {'name': 'uyer', 'age': 345, 'salary': 45634534534}}


emp_data.pop('emp_5')

{'name': 'John', 'age': 34, 'salary': 456456}

In [82]:
emp_data = {'emp_1': {'name': 'Israr', 'age': 44, 'salary': 434234324},
 'emp_2': {'name': 'Abhishek', 'age': 33, 'salary': 545345},
 'emp_3': {'name': 'Dona', 'age': 23, 'salary': 5346546},
 'emp_4': {'name': 'Madhumita', 'age': 28, 'salary': 456456},
 'emp_5': {'name': 'John', 'age': 34, 'salary': 456456},
 'emp_6': {'name': 'xyz', 'age': 43, 'salary': 654645654},
 'emp_7': {'name': 'lmn', 'age': 65, 'salary': 34534534},
 'emp_8': {'name': 'pqr', 'age': 56, 'salary': 3425345345},
 'emp_9': {'name': 'tyu', 'age': 34, 'salary': 543534534, 'New': 'details'},
 'emp_10': {'name': 'uyer', 'age': 345, 'salary': 45634534534}}


emp_data.pop('emp_45')

KeyError: 'emp_45'

In [79]:
emp_data

{'emp_1': {'name': 'Israr', 'age': 44, 'salary': 434234324},
 'emp_2': {'name': 'Abhishek', 'age': 33, 'salary': 545345},
 'emp_3': {'name': 'Dona', 'age': 23, 'salary': 5346546},
 'emp_4': {'name': 'Madhumita', 'age': 28, 'salary': 456456},
 'emp_6': {'name': 'xyz', 'age': 43, 'salary': 654645654},
 'emp_7': {'name': 'lmn', 'age': 65, 'salary': 34534534},
 'emp_8': {'name': 'pqr', 'age': 56, 'salary': 3425345345},
 'emp_9': {'name': 'tyu', 'age': 34, 'salary': 543534534, 'New': 'details'},
 'emp_10': {'name': 'uyer', 'age': 345, 'salary': 45634534534}}

# popitem

In [80]:
emp_data = {'emp_1': {'name': 'Israr', 'age': 44, 'salary': 434234324},
 'emp_2': {'name': 'Abhishek', 'age': 33, 'salary': 545345},
 'emp_3': {'name': 'Dona', 'age': 23, 'salary': 5346546},
 'emp_4': {'name': 'Madhumita', 'age': 28, 'salary': 456456},
 'emp_5': {'name': 'John', 'age': 34, 'salary': 456456},
 'emp_6': {'name': 'xyz', 'age': 43, 'salary': 654645654},
 'emp_7': {'name': 'lmn', 'age': 65, 'salary': 34534534},
 'emp_8': {'name': 'pqr', 'age': 56, 'salary': 3425345345},
 'emp_9': {'name': 'tyu', 'age': 34, 'salary': 543534534, 'New': 'details'},
 'emp_10': {'name': 'uyer', 'age': 345, 'salary': 45634534534}}


emp_data.popitem()

('emp_10', {'name': 'uyer', 'age': 345, 'salary': 45634534534})

In [81]:
emp_data

{'emp_1': {'name': 'Israr', 'age': 44, 'salary': 434234324},
 'emp_2': {'name': 'Abhishek', 'age': 33, 'salary': 545345},
 'emp_3': {'name': 'Dona', 'age': 23, 'salary': 5346546},
 'emp_4': {'name': 'Madhumita', 'age': 28, 'salary': 456456},
 'emp_5': {'name': 'John', 'age': 34, 'salary': 456456},
 'emp_6': {'name': 'xyz', 'age': 43, 'salary': 654645654},
 'emp_7': {'name': 'lmn', 'age': 65, 'salary': 34534534},
 'emp_8': {'name': 'pqr', 'age': 56, 'salary': 3425345345},
 'emp_9': {'name': 'tyu', 'age': 34, 'salary': 543534534, 'New': 'details'}}

In [89]:
emp_data = {'emp_1': {'name': 'Israr', 'age': 44, 'salary': 434234324},
 'emp_2': {'name': 'Abhishek', 'age': 33, 'salary': 545345},
 'emp_3': {'name': 'Dona', 'age': 23, 'salary': 5346546},
 'emp_4': {'name': 'Madhumita', 'age': 28, 'salary': 456456},
 'emp_5': {'name': 'John', 'age': 34, 'salary': 456456},
 'emp_6': {'name': 'xyz', 'age': 43, 'salary': 654645654},
 'emp_7': {'name': 'lmn', 'age': 65, 'salary': 34534534},
 'emp_8': {'name': 'pqr', 'age': 56, 'salary': 3425345345},
 'emp_9': {'name': 'tyu', 'age': 34, 'salary': 543534534, 'New': 'details'},
 'emp_10': {'name': 'uyer', 'age': 345, 'salary': 45634534534}}


ex_emp = {}

In [95]:
a = input('Enter the emp id : ')

ex_emp.setdefault(a , emp_data.pop(a))

Enter the emp id : emp_6

{'name': 'xyz', 'age': 43, 'salary': 654645654}

In [96]:
emp_data

{'emp_1': {'name': 'Israr', 'age': 44, 'salary': 434234324},
 'emp_2': {'name': 'Abhishek', 'age': 33, 'salary': 545345},
 'emp_3': {'name': 'Dona', 'age': 23, 'salary': 5346546},
 'emp_4': {'name': 'Madhumita', 'age': 28, 'salary': 456456},
 'emp_5': {'name': 'John', 'age': 34, 'salary': 456456},
 'emp_7': {'name': 'lmn', 'age': 65, 'salary': 34534534},
 'emp_9': {'name': 'tyu', 'age': 34, 'salary': 543534534, 'New': 'details'},
 'emp_10': {'name': 'uyer', 'age': 345, 'salary': 45634534534}}

In [97]:
ex_emp

{'emp_8': {'name': 'pqr', 'age': 56, 'salary': 3425345345},
 'emp_6': {'name': 'xyz', 'age': 43, 'salary': 654645654}}

In [98]:
print(dir(dict))

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

# Keys , values , items

In [103]:
emp_data = {'emp_1': {'name': 'Israr', 'age': 44, 'salary': 434234324},
 'emp_2': {'name': 'Abhishek', 'age': 33, 'salary': 545345},
 'emp_3': {'name': 'Dona', 'age': 23, 'salary': 5346546},
 'emp_4': {'name': 'Madhumita', 'age': 28, 'salary': 456456},
 'emp_5': {'name': 'John', 'age': 34, 'salary': 456456},
 'emp_6': {'name': 'xyz', 'age': 43, 'salary': 654645654},
 'emp_7': {'name': 'lmn', 'age': 65, 'salary': 34534534},
 'emp_8': {'name': 'pqr', 'age': 56, 'salary': 3425345345},
 'emp_9': {'name': 'tyu', 'age': 34, 'salary': 543534534, 'New': 'details'},
 'emp_10': {'name': 'uyer', 'age': 345, 'salary': 45634534534}}


for i in emp_data.keys():
    print(i)

emp_1
emp_2
emp_3
emp_4
emp_5
emp_6
emp_7
emp_8
emp_9
emp_10

In [104]:
emp_data = {'emp_1': {'name': 'Israr', 'age': 44, 'salary': 434234324},
 'emp_2': {'name': 'Abhishek', 'age': 33, 'salary': 545345},
 'emp_3': {'name': 'Dona', 'age': 23, 'salary': 5346546},
 'emp_4': {'name': 'Madhumita', 'age': 28, 'salary': 456456},
 'emp_5': {'name': 'John', 'age': 34, 'salary': 456456},
 'emp_6': {'name': 'xyz', 'age': 43, 'salary': 654645654},
 'emp_7': {'name': 'lmn', 'age': 65, 'salary': 34534534},
 'emp_8': {'name': 'pqr', 'age': 56, 'salary': 3425345345},
 'emp_9': {'name': 'tyu', 'age': 34, 'salary': 543534534, 'New': 'details'},
 'emp_10': {'name': 'uyer', 'age': 345, 'salary': 45634534534}}


for i in emp_data.values():
    print(i)

{'name': 'Israr', 'age': 44, 'salary': 434234324}
{'name': 'Abhishek', 'age': 33, 'salary': 545345}
{'name': 'Dona', 'age': 23, 'salary': 5346546}
{'name': 'Madhumita', 'age': 28, 'salary': 456456}
{'name': 'John', 'age': 34, 'salary': 456456}
{'name': 'xyz', 'age': 43, 'salary': 654645654}
{'name': 'lmn', 'age': 65, 'salary': 34534534}
{'name': 'pqr', 'age': 56, 'salary': 3425345345}
{'name': 'tyu', 'age': 34, 'salary': 543534534, 'New': 'details'}
{'name': 'uyer', 'age': 345, 'salary': 45634534534}

In [107]:
emp_data = {'emp_1': {'name': 'Israr', 'age': 44, 'salary': 434234324},
 'emp_2': {'name': 'Abhishek', 'age': 33, 'salary': 545345},
 'emp_3': {'name': 'Dona', 'age': 23, 'salary': 5346546},
 'emp_4': {'name': 'Madhumita', 'age': 28, 'salary': 456456},
 'emp_5': {'name': 'John', 'age': 34, 'salary': 456456},
 'emp_6': {'name': 'xyz', 'age': 43, 'salary': 654645654},
 'emp_7': {'name': 'lmn', 'age': 65, 'salary': 34534534},
 'emp_8': {'name': 'pqr', 'age': 56, 'salary': 3425345345},
 'emp_9': {'name': 'tyu', 'age': 34, 'salary': 543534534, 'New': 'details'},
 'emp_10': {'name': 'uyer', 'age': 345, 'salary': 45634534534}}

for i,j in emp_data.items():
    print(i , j)

emp_1 {'name': 'Israr', 'age': 44, 'salary': 434234324}
emp_2 {'name': 'Abhishek', 'age': 33, 'salary': 545345}
emp_3 {'name': 'Dona', 'age': 23, 'salary': 5346546}
emp_4 {'name': 'Madhumita', 'age': 28, 'salary': 456456}
emp_5 {'name': 'John', 'age': 34, 'salary': 456456}
emp_6 {'name': 'xyz', 'age': 43, 'salary': 654645654}
emp_7 {'name': 'lmn', 'age': 65, 'salary': 34534534}
emp_8 {'name': 'pqr', 'age': 56, 'salary': 3425345345}
emp_9 {'name': 'tyu', 'age': 34, 'salary': 543534534, 'New': 'details'}
emp_10 {'name': 'uyer', 'age': 345, 'salary': 45634534534}

In [113]:
emp_data = {'emp_1': {'name': 'Israr', 'age': 44, 'salary': 434234324},
 'emp_2': {'name': 'Abhishek', 'age': 33, 'salary': 545345},
 'emp_3': {'name': 'Dona', 'age': 23, 'salary': 5346546},
 'emp_4': {'name': 'Madhumita', 'age': 28, 'salary': 456456},
 'emp_5': {'name': 'John', 'age': 34, 'salary': 456456},
 'emp_6': {'name': 'xyz', 'age': 43, 'salary': 654645654},
 'emp_7': {'name': 'lmn', 'age': 65, 'salary': 34534534},
 'emp_8': {'name': 'pqr', 'age': 56, 'salary': 3425345345},
 'emp_9': {'name': 'tyu', 'age': 34, 'salary': 543534534, 'New': 'details'},
 'emp_10': {'name': 'uyer', 'age': 345, 'salary': 45634534534}}


# Display the complete details of the emp whose age is >50

for j in emp_data.values():
    if j.get('age') >= 50:
        print(j.items())

dict_items([('name', 'lmn'), ('age', 65), ('salary', 34534534)])
dict_items([('name', 'pqr'), ('age', 56), ('salary', 3425345345)])
dict_items([('name', 'uyer'), ('age', 345), ('salary', 45634534534)])

In [117]:
emp_data = {'emp_1': {'name': 'Israr', 'age': 44, 'salary': 434234324},
 'emp_2': {'name': 'Abhishek', 'age': 33, 'salary': 545345},
 'emp_3': {'name': 'Dona', 'age': 23, 'salary': 5346546},
 'emp_4': {'name': 'Madhumita', 'age': 28, 'salary': 456456},
 'emp_5': {'name': 'John', 'age': 34, 'salary': 456456},
 'emp_6': {'name': 'Abharaham', 'age': 43, 'salary': 654645654},
 'emp_7': {'name': 'lmn', 'age': 65, 'salary': 34534534},
 'emp_8': {'name': 'pqr', 'age': 56, 'salary': 3425345345},
 'emp_9': {'name': 'Abc', 'age': 34, 'salary': 543534534, 'New': 'details'},
 'emp_10': {'name': 'uyer', 'age': 345, 'salary': 45634534534}}


# print the emp id of those emp whose name are starting with A

for i in emp_data.keys():
    if emp_data[i]['name'].startswith('A'):
        print(i , emp_data[i]['name'])

emp_2 Abhishek
emp_6 Abharaham
emp_9 Abc

In [118]:
emp_data = {'emp_1': {'name': 'Israr', 'age': 44, 'salary': 434234324},
 'emp_2': {'name': 'Abhishek', 'age': 33, 'salary': 545345},
 'emp_3': {'name': 'Dona', 'age': 23, 'salary': 5346546},
 'emp_4': {'name': 'Madhumita', 'age': 28, 'salary': 456456},
 'emp_5': {'name': 'John', 'age': 34, 'salary': 456456},
 'emp_6': {'name': 'Abharaham', 'age': 43, 'salary': 654645654},
 'emp_7': {'name': 'lmn', 'age': 65, 'salary': 34534534},
 'emp_8': {'name': 'pqr', 'age': 56, 'salary': 3425345345},
 'emp_9': {'name': 'Abc', 'age': 34, 'salary': 543534534, 'New': 'details'},
 'emp_10': {'name': 'uyer', 'age': 345, 'salary': 45634534534}}


# print the emp id of those emp whose name are starting with A

for i,j in emp_data.items():
    if j['name'].startswith('A'):
        print(i , j['name'])

emp_2 Abhishek
emp_6 Abharaham
emp_9 Abc

In [120]:
print(dir(dict))

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

# fromkeys

In [121]:
lst = ['xyz' , 'abc' , 'pqr']

dict(lst)

ValueError: dictionary update sequence element #0 has length 3; 2 is required

In [122]:
lst = [[1,'xyz'] , (2, 'abc') , (3,'pqr')]

dict(lst)

{1: 'xyz', 2: 'abc', 3: 'pqr'}

In [124]:
lst = ['xyz' , 'abc' , 'pqr']

dict.fromkeys(lst)

{'xyz': None, 'abc': None, 'pqr': None}

In [127]:
lst = ['xyz' , 'abc' , 'pqr']

dict.fromkeys(lst , 0)

{'xyz': 0, 'abc': 0, 'pqr': 0}

In [128]:
a = ['xyz' , 'abc' , 'pqr']

b = [32,34,54]


dict(zip(a,b))

{'xyz': 32, 'abc': 34, 'pqr': 54}

In [129]:
d = dict.fromkeys(range(101) , 0)

print(d)

{0: 0, 1: 0, 2: 0, 3: 0, 4: 0, 5: 0, 6: 0, 7: 0, 8: 0, 9: 0, 10: 0, 11: 0, 12: 0, 13: 0, 14: 0, 15: 0, 16: 0, 17: 0, 18: 0, 19: 0, 20: 0, 21: 0, 22: 0, 23: 0, 24: 0, 25: 0, 26: 0, 27: 0, 28: 0, 29: 0, 30: 0, 31: 0, 32: 0, 33: 0, 34: 0, 35: 0, 36: 0, 37: 0, 38: 0, 39: 0, 40: 0, 41: 0, 42: 0, 43: 0, 44: 0, 45: 0, 46: 0, 47: 0, 48: 0, 49: 0, 50: 0, 51: 0, 52: 0, 53: 0, 54: 0, 55: 0, 56: 0, 57: 0, 58: 0, 59: 0, 60: 0, 61: 0, 62: 0, 63: 0, 64: 0, 65: 0, 66: 0, 67: 0, 68: 0, 69: 0, 70: 0, 71: 0, 72: 0, 73: 0, 74: 0, 75: 0, 76: 0, 77: 0, 78: 0, 79: 0, 80: 0, 81: 0, 82: 0, 83: 0, 84: 0, 85: 0, 86: 0, 87: 0, 88: 0, 89: 0, 90: 0, 91: 0, 92: 0, 93: 0, 94: 0, 95: 0, 96: 0, 97: 0, 98: 0, 99: 0, 100: 0}

In [130]:
emp_data = {'emp_1': {'name': 'Israr', 'age': 44, 'salary': 434234324},
 'emp_2': {'name': 'Abhishek', 'age': 33, 'salary': 545345},
 'emp_3': {'name': 'Dona', 'age': 23, 'salary': 5346546},
 'emp_4': {'name': 'Madhumita', 'age': 28, 'salary': 456456},
 'emp_5': {'name': 'John', 'age': 34, 'salary': 456456},
 'emp_6': {'name': 'Abharaham', 'age': 43, 'salary': 654645654},
 'emp_7': {'name': 'lmn', 'age': 65, 'salary': 34534534},
 'emp_8': {'name': 'pqr', 'age': 56, 'salary': 3425345345},
 'emp_9': {'name': 'Abc', 'age': 34, 'salary': 543534534, 'New': 'details'},
 'emp_10': {'name': 'uyer', 'age': 345, 'salary': 45634534534}}


emp_data.clear()

In [131]:
emp_data

{}

In [132]:
emp_data = {'emp_1': {'name': 'Israr', 'age': 44, 'salary': 434234324},
 'emp_2': {'name': 'Abhishek', 'age': 33, 'salary': 545345},
 'emp_3': {'name': 'Dona', 'age': 23, 'salary': 5346546},
 'emp_4': {'name': 'Madhumita', 'age': 28, 'salary': 456456},
 'emp_5': {'name': 'John', 'age': 34, 'salary': 456456},
 'emp_6': {'name': 'Abharaham', 'age': 43, 'salary': 654645654},
 'emp_7': {'name': 'lmn', 'age': 65, 'salary': 34534534},
 'emp_8': {'name': 'pqr', 'age': 56, 'salary': 3425345345},
 'emp_9': {'name': 'Abc', 'age': 34, 'salary': 543534534, 'New': 'details'},
 'emp_10': {'name': 'uyer', 'age': 345, 'salary': 45634534534}}


del emp_data

In [133]:
emp_data

NameError: name 'emp_data' is not defined

In [150]:
emp_data = {'name': 'Israr', 'age': 44, 'salary': 434234324}


back = emp_data.copy()

print(id(emp_data))
print(id(back))

1500686813312
1500686813888

In [144]:
emp_data = {'emp_1': {'name': 'Israr', 'age': 44, 'salary': 434234324},
 'emp_2': {'name': 'Abhishek', 'age': 33, 'salary': 545345},
 'emp_3': {'name': 'Dona', 'age': 23, 'salary': 5346546},
 'emp_4': {'name': 'Madhumita', 'age': 28, 'salary': 456456},
 'emp_5': {'name': 'John', 'age': 34, 'salary': 456456},
 'emp_6': {'name': 'Abharaham', 'age': 43, 'salary': 654645654},
 'emp_7': {'name': 'lmn', 'age': 65, 'salary': 34534534},
 'emp_8': {'name': 'pqr', 'age': 56, 'salary': 3425345345},
 'emp_9': {'name': 'Abc', 'age': 34, 'salary': 543534534, 'New': 'details'},
 'emp_10': {'name': 'uyer', 'age': 345, 'salary': 45634534534}}


back = emp_data.copy()

print(id(emp_data))
print(id(back))

1500687065600
1500687072384

In [145]:
back

{'emp_1': {'name': 'Israr', 'age': 44, 'salary': 434234324},
 'emp_2': {'name': 'Abhishek', 'age': 33, 'salary': 545345},
 'emp_3': {'name': 'Dona', 'age': 23, 'salary': 5346546},
 'emp_4': {'name': 'Madhumita', 'age': 28, 'salary': 456456},
 'emp_5': {'name': 'John', 'age': 34, 'salary': 456456},
 'emp_6': {'name': 'Abharaham', 'age': 43, 'salary': 654645654},
 'emp_7': {'name': 'lmn', 'age': 65, 'salary': 34534534},
 'emp_8': {'name': 'pqr', 'age': 56, 'salary': 3425345345},
 'emp_9': {'name': 'Abc', 'age': 34, 'salary': 543534534, 'New': 'details'},
 'emp_10': {'name': 'uyer', 'age': 345, 'salary': 45634534534}}

In [146]:
emp_data

{'emp_1': {'name': 'Israr', 'age': 44, 'salary': 434234324},
 'emp_2': {'name': 'Abhishek', 'age': 33, 'salary': 545345},
 'emp_3': {'name': 'Dona', 'age': 23, 'salary': 5346546},
 'emp_4': {'name': 'Madhumita', 'age': 28, 'salary': 456456},
 'emp_5': {'name': 'John', 'age': 34, 'salary': 456456},
 'emp_6': {'name': 'Abharaham', 'age': 43, 'salary': 654645654},
 'emp_7': {'name': 'lmn', 'age': 65, 'salary': 34534534},
 'emp_8': {'name': 'pqr', 'age': 56, 'salary': 3425345345},
 'emp_9': {'name': 'Abc', 'age': 34, 'salary': 543534534, 'New': 'details'},
 'emp_10': {'name': 'uyer', 'age': 345, 'salary': 45634534534}}

In [147]:
emp_data['emp_7']['age'] = 9999999

In [148]:
emp_data

{'emp_1': {'name': 'Israr', 'age': 44, 'salary': 434234324},
 'emp_2': {'name': 'Abhishek', 'age': 33, 'salary': 545345},
 'emp_3': {'name': 'Dona', 'age': 23, 'salary': 5346546},
 'emp_4': {'name': 'Madhumita', 'age': 28, 'salary': 456456},
 'emp_5': {'name': 'John', 'age': 34, 'salary': 456456},
 'emp_6': {'name': 'Abharaham', 'age': 43, 'salary': 654645654},
 'emp_7': {'name': 'lmn', 'age': 9999999, 'salary': 34534534},
 'emp_8': {'name': 'pqr', 'age': 56, 'salary': 3425345345},
 'emp_9': {'name': 'Abc', 'age': 34, 'salary': 543534534, 'New': 'details'},
 'emp_10': {'name': 'uyer', 'age': 345, 'salary': 45634534534}}

In [149]:
back

{'emp_1': {'name': 'Israr', 'age': 44, 'salary': 434234324},
 'emp_2': {'name': 'Abhishek', 'age': 33, 'salary': 545345},
 'emp_3': {'name': 'Dona', 'age': 23, 'salary': 5346546},
 'emp_4': {'name': 'Madhumita', 'age': 28, 'salary': 456456},
 'emp_5': {'name': 'John', 'age': 34, 'salary': 456456},
 'emp_6': {'name': 'Abharaham', 'age': 43, 'salary': 654645654},
 'emp_7': {'name': 'lmn', 'age': 9999999, 'salary': 34534534},
 'emp_8': {'name': 'pqr', 'age': 56, 'salary': 3425345345},
 'emp_9': {'name': 'Abc', 'age': 34, 'salary': 543534534, 'New': 'details'},
 'emp_10': {'name': 'uyer', 'age': 345, 'salary': 45634534534}}

# Conditional statements