# Type casting, Input function , Data type integers

In [ ]:
1. fundamenta
- int
- float
- bool
- str
- None
- complex

2. derived
- list - [] mutable
- tuple - () immutable
- set - {} unique values
- dictionary {key : value}

# Type casting

- converting 1 data type to another

int()
float()
complex()
bool()
str()

- cannot type cast from complex to any other data type
- can type cast
- int - float
- float to int 
- string - int if the data is int
- string to float if the data is float
- eval - dynamically typecast from string to any data type

In [1]:
a = 34

print(a , type(a))

34 <class 'int'>

In [2]:
# Method 1

a = float(34)

print(a , type(a))

34.0 <class 'float'>

In [3]:
a

34.0

In [4]:
# Method 2

a = 34

print(float(a) , type(float(a)))

34.0 <class 'float'>

In [5]:
a

34

In [16]:
a = float(34)

print(a , type(a))

34.0 <class 'float'>

In [17]:
a = int(56.34)

print(a , type(a))

56 <class 'int'>

In [18]:
a = int(56.9999)

print(a , type(a))

56 <class 'int'>

In [19]:
a = round(56.9999)

print(a , type(a))

57 <class 'int'>

In [20]:
a = complex(34)

print(a , type(a))

(34+0j) <class 'complex'>

In [21]:
a = complex(34.54)

print(a , type(a))

(34.54+0j) <class 'complex'>

In [24]:
a = int(43+0j)

print(a , type(a))

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

In [25]:
a = float(43+0j)

print(a , type(a))

TypeError: float() argument must be a string or a real number, not 'complex'

In [26]:
a = str(56)

print(a , type(a))

56 <class 'str'>

In [28]:
a = int('87')

print(a , type(a))

87 <class 'int'>

In [29]:
a = int('87abc76')

print(a , type(a))

ValueError: invalid literal for int() with base 10: '87abc76'

In [30]:
a = int('87.65')

print(a , type(a))

ValueError: invalid literal for int() with base 10: '87.65'

In [31]:
a = float('87.65')

print(a , type(a))

87.65 <class 'float'>

In [35]:
a = int(float('123.94359'))

print(a , type(a))

123 <class 'int'>

In [36]:
a = int('76')

print(a , type(a))

76 <class 'int'>

In [37]:
a = int('76.867')

print(a , type(a))

ValueError: invalid literal for int() with base 10: '76.867'

In [38]:
a = float('76.867')

print(a , type(a))

76.867 <class 'float'>

# Eval

In [43]:
a = eval("76")

print(a , type(a))

76 <class 'int'>

In [40]:
a = eval('76.45456')

print(a , type(a))

76.45456 <class 'float'>

In [41]:
a = eval('[34,546,67,67,87]')

print(a , type(a))

[34, 546, 67, 67, 87] <class 'list'>

In [42]:
a = eval('True')

print(a , type(a))

True <class 'bool'>

In [44]:
a = eval("76.45")

print(a , type(a))

76.45 <class 'float'>

In [47]:
a = int('7654676.567')

print(a , type(a))

ValueError: invalid literal for int() with base 10: '7654676.567'

# Input function

- It allows the user to enter the values
- Input will always take it in a form of a string

In [58]:
a = input('You own message : ')

print(a , type(a))

You own message : 3245345345
3245345345 <class 'str'>

In [59]:
a

'3245345345'

In [67]:
a = eval(input('Enter the first number : '))
b = eval(input('Enter the second  number : '))

a+b

Enter the first number : 10
Enter the second  number : 20.5

30.5

In [64]:
int('762.3')

ValueError: invalid literal for int() with base 10: '762.3'

In [70]:
a = input('Enter first name ')

b = input('Enter second name ')

print(a+'--->'+b) # Concatination

Enter first name xyz
Enter second name abc
xyz--->abc

In [78]:
'abc' + str(35)

'abc35'

In [80]:
a = eval(input('Enter the first number : '))
b = eval(input('Enter the second  number : '))

c = 'The addition of '+str(a)+' & '+str(b)+' = '+str(a+b)

print(c)

Enter the first number : 10
Enter the second  number : 20
The addition of 10 & 20 = 30

In [1]:
a = input('Enter first name ')

b = input('Enter second name ')

print('My first name is '+a+', and my second name is '+b)

Enter first name xyz
Enter second name abc
My first name is xyz, and my second name is abc

# Format string

In [4]:
a = eval(input('Enter the first number : '))
b = eval(input('Enter the second  number : '))

c = 'The addition of '+str(a)+' & '+str(b)+' = '+str(a+b) # Concatination

print(c)

Enter the first number : 10
Enter the second  number : 20
The addition of 10 & 20 = 30

In [3]:
'abc' + str(43)

'abc43'

In [5]:
# method 1

a = eval(input('Enter the first number : '))
b = eval(input('Enter the second  number : '))

c = 'The addition of {} & {} = {}'.format(a,b , a+b) 

print(c)

Enter the first number : 10
Enter the second  number : 20
The addition of 10 & 20 = 30

In [6]:
# method 2

a = eval(input('Enter the first number : '))
b = eval(input('Enter the second  number : '))

c = f'The addition of {a} & {b} = {a+b}'

print(c)

Enter the first number : 10
Enter the second  number : 20
The addition of 10 & 20 = 30

In [7]:
a = input('Enter first name ')

b = input('Enter second name ')

print('My first name is '+a+', and my second name is '+b)

Enter first name xyz
Enter second name abc
My first name is xyz, and my second name is abc

In [8]:
a = input('Enter first name ')

b = input('Enter second name ')

print(f'My first name is {a}, and my second name is {b}')

Enter first name xyz
Enter second name abc
My first name is xyz, and my second name is abc

# Output function

- print

In [18]:
a = 10
b = 20

print(a)
print(b)

10
20

In [19]:
a = 10
b = 20

print(a,b)

10 20

In [ ]:
sep=' ', end='\n'

In [21]:
a = 10
b = 20
c = 30

print(a,b,c , sep ='-->')

10-->20-->30

In [22]:
a = 10
b = 20
c = 30

print(a,b,c , sep ='**')

10**20**30

In [23]:
a = 10
b = 20
c = 30

print(a , sep ='**')

10

In [29]:
a = 10
b = 20
c = 30

print(a , end = '**')
print(b)
print(c)

10**20
30

In [ ]:
10**20
30

In [25]:
a = 'hello\nworld'

print(a)

hello
world

In [30]:
a = 'abc'
b = 'xyz'

c = a + ' ' + b

print(c)

abc xyz

In [33]:
a = 'abc'
b = 'xyz'

c = print(a,b , sep = ',')

abc,xyz

In [36]:
a = 10
b = 20
c = 30
d = 40
e = 50

print(a,b , sep = '+++' , end='---')
print(c , end='\n')
print(d , sep = '###')
print(a,b,e , sep = '&&&', end = '%%%')

10+++20---30
40
10&&&20&&&50%%%

In [ ]:
10+++20---30
40###10&&&20&&&50%%%

10+++20---30
40
10&&&20&&&50%%%

# Integer data type

In [45]:
a = 45

print(a, type(a))

45 <class 'int'>

# Operations to be performed on integer

In [ ]:
## Arithmetic operation

+ , - , * , /(Float division) , ** (exponent) , // (Floor division) , % (Modulo)

In [46]:
a = 23
b = 65

print(a + b)

88

In [47]:
a = 23
b = 65

print(a - b)

-42

In [48]:
a = 23
b = 65

print(a * b)

1495

In [49]:
a = 11
b = 5

print(a / b)

2.2

In [50]:
a = 10
b = 5

print(a / b)

2.0

In [51]:
a = 2
b = 4

print(a ** b)

16

In [52]:
a = 11
b = 5

print(a / b)

2.2

In [ ]:
floor value                      exact value                   cieling value

      2                              2.2                           3

In [53]:
a = 11
b = 5

print(a // b)

2

In [54]:
a = 9
b = 5

print(a / b)

1.8

In [ ]:
floor value                      exact value                   cieling value

      1                              1.8                           2

In [58]:
a = 9
b = 5

print('Floor : ' , a // b)
print('Exact : ' , a / b)
print('Round : ' , round(a / b))

Floor :  1
Exact :  1.8
Round :  2

In [63]:
a = 69
b = 9


print('Exact : ' , a / b)

print('Floor : ' , a // b)

print('Round : ' , round(a / b))

Exact :  7.666666666666667
Floor :  7
Round :  8

In [70]:
a = 69
b = 13


print('Exact : ' , a / b)

print('Floor : ' , a // b)

print('Round : ' , round(a / b))

Exact :  5.3076923076923075
Floor :  5
Round :  5

In [72]:
a = 69
b = 13

import math

print('Exact : ' , a / b)

print('Floor : ' , a // b)

print('Round : ' , round(a / b))

print('Ciel : ' , math.ceil(a/b))

Exact :  5.3076923076923075
Floor :  5
Round :  5
Ciel :  6

In [ ]:
a = 69
b = 13

import math

print('Exact : ' , a / b)

print('Floor : ' , a // b)

print('Round : ' , round(a / b))

print('Ciel : ' , math.ceil(a/b))

In [73]:
a = 69
b = 13

print(a / b)

5.3076923076923075

In [76]:
a = 69
b = 13

round(a / b , 4)

5.3077

In [77]:
a = 10
b = 3

print(a % b)

1

In [78]:
a = 5464565465475675664538
b = 2

print(a % b)

0

In [83]:
a = -11
b = 4

import math

print('Exact : ' , a / b)

print('Floor : ' , a // b)

print('Round : ' , round(a / b))

print('Ciel : ' , math.ceil(a/b))

Exact :  -2.75
Floor :  -3
Round :  -3
Ciel :  -2

In [ ]:
floor value                      exact value                   cieling value

      -3                             -2.75                          -2

# Comparision operators

  < , >= , <= , >

- output will always be bool
- can be performed on number (int , float)
- cannot be performed on string to an number
- can be performed on string to string (ascci values will be compared in the backend)
- cannot perform onm complex
- can be performed on bool
- cannnot be performed on None

In [84]:
a = 29
b = 34


print(a > b)

False

In [85]:
a = 29
b = 34


print(a < b)

True

In [86]:
a = 29
b = 29


print(a > b)

False

In [87]:
a = 29
b = 29


print(a >= b)

True

In [88]:
a = 29
b = 29.65


print(a > b)

False

In [91]:
a = 29
b = 'abc'


print(a > b)

TypeError: '>' not supported between instances of 'int' and 'str'

In [92]:
a = 29
b = '10'


print(a > b)

TypeError: '>' not supported between instances of 'int' and 'str'

In [95]:
a = 'abc'
b = 'ABC'


print(a > b)

True

In [96]:
a = 'abc' #  97
b = 'ABC' #  65


print(a > b)

True

In [98]:
a = 'aBc' #  66
b = 'abC' #  98


print(a > b)

False

In [99]:
a = 29
b = 54+7j


print(a > b)

TypeError: '>' not supported between instances of 'int' and 'complex'

In [100]:
a = 98+5j
b = 54+7j


print(a > b)

TypeError: '>' not supported between instances of 'complex' and 'complex'

In [101]:
a = 29
b = None


print(a > b)

TypeError: '>' not supported between instances of 'int' and 'NoneType'

In [105]:
a = 29
b = True


print(a > b)

True

In [102]:
True == 1

True

In [103]:
False == 0

True

# Equality operators

== , !=

In [106]:
a = 29
b = 29


print(a == b)

True

In [107]:
a = 29
b = '29'


print(a == b)

False

In [108]:
a = 29
b = '29'


print(a != b)

True

In [110]:
a = 29
b = 23+8j


print(a == b)

False

In [111]:
a = 29
b = [23,45,56,657]


print(a == b)

False