# List

In [1]:
a = [23,34,65,32,3]


print(a , type(a))

[23, 34, 65, 32, 3] <class 'list'>

# Different methods to create a list

In [2]:
# If you already know the elements

a = [23,34,65,32,3]


print(a , type(a))

[23, 34, 65, 32, 3] <class 'list'>

In [5]:
# Taking an input from the user

a = eval(input('Enter a list : '))


print(a , type(a))

Enter a list : [54,56,567,78,7]
[54, 56, 567, 78, 7] <class 'list'>

In [6]:
# Type casting


a = 'hello world'
b = (23,3,45,56)

print(list(a))
print(list(b))

['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']
[23, 3, 45, 56]

In [7]:
# Split methods

a = 'hello world'

a.split()

['hello', 'world']

In [9]:

a = list(eval(input('Enter a list : ')))


print(a , type(a))

Enter a list : 34,45,567,87,87
[34, 45, 567, 87, 87] <class 'list'>

# Properties of list


- seq data type
- Indexing and slicing is possible
- Allows duplication
- It is hetrogeneous --> Can store any data type
- Basic op , concatination , repetation , identity , membership


### It is an mutable data type

In [10]:
a = ['Israr@gmail.com' , 'Abhishek@yahoo.com' , 'Balraj@gmail.com' , 'Dipali@yahoo.com',
    'Dona@gmail.com' , 'dinesh@gmail.com' , 'dom@gmail.com']


a[1]

'Abhishek@yahoo.com'

In [11]:
a = ['Israr@gmail.com' , 'Abhishek@yahoo.com' , 'Balraj@gmail.com' , 'Dipali@yahoo.com',
    'Dona@gmail.com' , 'dinesh@gmail.com' , 'dom@gmail.com']


a[-4]

'Dipali@yahoo.com'

In [12]:
a = ['Israr@gmail.com' , 'Abhishek@yahoo.com' , 'Balraj@gmail.com' , 'Dipali@yahoo.com',
    'Dona@gmail.com' , 'dinesh@gmail.com' , 'dom@gmail.com']


a[1:4]

['Abhishek@yahoo.com', 'Balraj@gmail.com', 'Dipali@yahoo.com']

In [13]:
a = ['Israr@gmail.com' , 'Abhishek@yahoo.com' , 'Balraj@gmail.com' , 'Dipali@yahoo.com',
    'Dona@gmail.com' , 'dinesh@gmail.com' , 'dom@gmail.com']


a[-4:0:-1]

['Dipali@yahoo.com', 'Balraj@gmail.com', 'Abhishek@yahoo.com']

In [14]:
# Allows duplication

a = ['Israr@gmail.com' , 'Abhishek@yahoo.com' , 'Balraj@gmail.com' , 'Dipali@yahoo.com',
    'Dona@gmail.com' , 'dinesh@gmail.com' , 'dom@gmail.com' ,'dom@gmail.com' ,'dom@gmail.com' ,'dom@gmail.com']
a

['Israr@gmail.com',
 'Abhishek@yahoo.com',
 'Balraj@gmail.com',
 'Dipali@yahoo.com',
 'Dona@gmail.com',
 'dinesh@gmail.com',
 'dom@gmail.com',
 'dom@gmail.com',
 'dom@gmail.com',
 'dom@gmail.com']

In [16]:
a = ['Israr@gmail.com' , 43 ,35445.45 , True , [34,45,56] , {'a':345}]


a

['Israr@gmail.com', 43, 35445.45, True, [34, 45, 56], {'a': 345}]

In [17]:
# Concatination
# op ---> +
# oprands --> both should be list

a = [1,2,3]
b = [4,5,6]


a + b

[1, 2, 3, 4, 5, 6]

In [19]:
# repetation
# op ---> *
# oprands --> one should be a list and another should be an int

a = [1,2,3]
b = 3


a * b

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [27]:
a = [1,2,3]
b = [1,2,3]

print(id(a))
print(id(b))

print(a is b)

print(a == b)

2482372904896
2482372980736
False
True

In [23]:
a = [23,456,56,67]


23 in a

True

In [24]:
a = [23,456,56,67]


23 not in a

False

In [29]:
a = [2,3,4,5]


a[0] = 9999999


a

[9999999, 3, 4, 5]

In [31]:
a = (2,3,4,5)

a[0] = 9999999

a

TypeError: 'tuple' object does not support item assignment

In [33]:
a = (1,2,3,[4,54,6])

a[-1][-1] = 99999999

a

(1, 2, 3, [4, 54, 99999999])

In [34]:
a = [2,3,4,5]

print(id(a))

a[0] = 9999999

print(id(a))

print(a)

2482386367168
2482386367168
[9999999, 3, 4, 5]

# Nested list

In [ ]:
a = [2,3,4,5] # List


a = [2,3,4,[4,6]] # Nested list

In [35]:

a = [2,3,4,[4,6]]

len(a)

4

In [36]:

a = [2,3,4,[4,6]]

a[1]

3

In [39]:

a = [2,3,4,[4,6]]

a[-1][1]

6

In [42]:
a = [1,2,3,[4,5,6] , [7,8,3]]


a[3][1]

5

In [43]:
a = [1,2,3,[4,5,6] , [7,8,3]]


a[3][1:]

[5, 6]

In [55]:
a = [[1,2,4] , [5,6,[7,'a' , 'b' , ['c' , 'd' , 'messi']] , [8,[9,10,['a' , 'b']]]]]


a[1][-2][3][-1]

'messi'

In [59]:
b =   [[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23],
       [24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35]]


# Task 19, 20, 21, 22

print(b[3][1:-1])

# Task 22,21,20,19

print(b[3][-2:0:-1])

[19, 20, 21, 22]
[22, 21, 20, 19]

In [62]:
c =   [[[ 0,  1,  2,  3,  4,  5],
        [ 6,  7,  8,  9, 10, 11],
        [12, 13, 14, 15, 16, 17]],

       [[18, 19, 20, 21, 22, 23],
        [24, 25, 26, 27, 28, 29],
        [30, 31, 32, 33, 34, 35]]]



# Task 19, 20, 21, 22

c[1][0][1:-1]

[19, 20, 21, 22]

# Methods of list

## Methods to add or insert inside a list

- append
- extend
- insert

In [63]:
print(dir(list))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

# append


1. You can insert on 1 element at a time
2. You can only insert at the end of the list

In [66]:
l = [2,3,54,5]

l.append(100)


l

[2, 3, 54, 5, 100]

In [67]:
l = [2,3,54,5]

l.append(100 , 200)


l

TypeError: list.append() takes exactly one argument (2 given)

In [68]:
l = [2,3,54,5]

l.append([100 , 200])


l

[2, 3, 54, 5, [100, 200]]

In [69]:
l = [2,3,54,5]

print(l.append(100))

None

In [70]:
l

[2, 3, 54, 5, 100]

In [71]:
a = 'python'

print(a.replace('p' , 'j'))

jython

In [72]:
a

'python'

# Extend

- insert multiple elements at a time
- only at the end

In [74]:
l = [2,3,54,5]

l.append([100,20,30])


l

[2, 3, 54, 5, [100, 20, 30]]

In [76]:
l = [2,3,54,5]

l.extend([100,20,30])


l

[2, 3, 54, 5, 100, 20, 30]

In [80]:
a = [1,2,3]
b = [4,5,6]


print(a + b)

print(a)
print(b)

[1, 2, 3, 4, 5, 6]
[1, 2, 3]
[4, 5, 6]

In [81]:
a = [1,2,3]
b = [4,5,6]


a.extend(b)

print(a)
print(b)

[1, 2, 3, 4, 5, 6]
[4, 5, 6]

# Insert

- can insert the object according to the index
- Only 1 element at a time

In [82]:
l = [2,3,54,5]

l.append(100)


l

[2, 3, 54, 5, 100]

In [83]:
l = ['a' , 'b' , 'c' , 'd' , 'e']

l.insert(2 , 'g')


l

['a', 'b', 'g', 'c', 'd', 'e']

In [84]:
l = ['a' , 'b' , 'c' , 'd' , 'e']

l.insert(4 , 'g')


l

['a', 'b', 'c', 'd', 'g', 'e']

In [85]:
l = ['a' , 'b' , 'c' , 'd' , 'e']

l.insert(-1 , 'g')


l

['a', 'b', 'c', 'd', 'g', 'e']

In [87]:
l = ['a' , 'b' , 'c' , 'd' , 'e']

l.insert(-2 , 'g')


l

['a', 'b', 'c', 'g', 'd', 'e']

In [86]:
l = ['a' , 'b' , 'c' , 'd' , 'e']

l.insert(0 , 'g')

l

['g', 'a', 'b', 'c', 'd', 'e']

In [90]:
l = ['a' , 'b' , 'c' , 'd' , 'e']

l.insert(5, 'g')


l

['a', 'b', 'c', 'd', 'e', 'g']

# Methods to remove the elements from the list


- pop
- remove

In [91]:
print(dir(list))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

# pop

- removes according to the index
- By default it remove the last
- It returns you the removed object

In [93]:
l = ['a' , 'b' , 'c' , 'd' , 'e']


l.pop()

'e'

In [94]:
l

['a', 'b', 'c', 'd']

In [95]:
l = ['a' , 'b' , 'c' , 'd' , 'e']


l.pop(1)

'b'

In [96]:
l

['a', 'c', 'd', 'e']

# Remove

In [99]:
l = ['a' , 'b' , 'c' , 'd' , 'e' , 'b' , 'b' , 'b']


l.remove('b')

l

['a', 'c', 'd', 'e', 'b', 'b', 'b']

In [100]:
l = ['a' , 'b' , 'c' , 'd' , 'e' , 'b' , 'b' , 'b']


l.remove('b')

l

['a', 'c', 'd', 'e', 'b', 'b', 'b']

In [103]:
l = ['a' , 'b' , 'c' , 'd' , 'e' , 'b' , 'b' , 'b']

In [110]:

l.remove('b')

In [111]:
l

['a', 'c', 'd', 'e']

# Count

In [115]:
l = ['a' , 'b' , 'c' , 'd' , 'e' , 'b' , 'b' , 'b']

l.count('b')

4

In [116]:
for i in range(l.count('b')):
    l.remove('b')

In [117]:
l

['a', 'c', 'd', 'e']

# Index

In [118]:
l = ['a' , 'b' , 'c' , 'd' , 'e' , 'b' , 'b' , 'b']

l.index('c')

2

In [119]:
l = ['a' , 'b' , 'c' , 'd' , 'e' , 'b' , 'b' , 'b']

l.index('z')

ValueError: 'z' is not in list

In [120]:
print(dir(list))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [121]:
l = [32,45,23,54,12,564,12,65]

l.reverse()

l

[65, 12, 564, 12, 54, 23, 45, 32]

In [122]:
l = [32,45,23,54,12,564,12,65]

l.sort()

l

[12, 12, 23, 32, 45, 54, 65, 564]

In [123]:
l = [32,45,23,54,12,564,12,65]

l.sort(reverse= True) # reverse=False

l

[564, 65, 54, 45, 32, 23, 12, 12]

In [124]:
34 > '20'

TypeError: '>' not supported between instances of 'int' and 'str'

In [125]:
'abc' > 'ABC'

True

In [126]:
l = [32,45,23,54.54,12,564,12,65]

l.sort()

l

[12, 12, 23, 32, 45, 54.54, 65, 564]

In [127]:
l = [32,'45',23,54.54,12,564,12,65]

l.sort()

l

TypeError: '<' not supported between instances of 'str' and 'int'

In [128]:
a = ['Israr@gmail.com' , 'Abhishek@yahoo.com' , 'Balraj@gmail.com' , 'Dipali@yahoo.com',
    'Dona@gmail.com' , 'dinesh@gmail.com' , 'dom@gmail.com']


a.sort()

a

['Abhishek@yahoo.com',
 'Balraj@gmail.com',
 'Dipali@yahoo.com',
 'Dona@gmail.com',
 'Israr@gmail.com',
 'dinesh@gmail.com',
 'dom@gmail.com']

In [129]:
a = ['Israr@gmail.com' , 'Abhishek@yahoo.com' , 'Balraj@gmail.com' , 'Dipali@yahoo.com',
    'Dona@gmail.com' , 'dinesh@gmail.com' , 'dom@gmail.com']


a.sort(key = len)

a

['dom@gmail.com',
 'Dona@gmail.com',
 'Israr@gmail.com',
 'Balraj@gmail.com',
 'Dipali@yahoo.com',
 'dinesh@gmail.com',
 'Abhishek@yahoo.com']

# Del

In [130]:
a = ['Israr@gmail.com' , 'Abhishek@yahoo.com' , 'Balraj@gmail.com' , 'Dipali@yahoo.com',
    'Dona@gmail.com' , 'dinesh@gmail.com' , 'dom@gmail.com']

del a

In [131]:
a

NameError: name 'a' is not defined

In [132]:
a = ['Israr@gmail.com' , 'Abhishek@yahoo.com' , 'Balraj@gmail.com' , 'Dipali@yahoo.com',
    'Dona@gmail.com' , 'dinesh@gmail.com' , 'dom@gmail.com']

a.clear()

In [133]:
a

[]

# Copy

In [134]:
a = [1,2,3]
b = [1,2,3]

print(id(a))

print(id(b))

2482404845120
2482402588864

# Aliasing

In [140]:
a = [1,2,3]
b = a

print(id(a))

print(id(b))

print('-----------------')
b[0] = 999

print(a)
print(b)

2482402484032
2482402484032
-----------------
[999, 2, 3]
[999, 2, 3]

# Shallow copy

In [142]:
a = [1,2,3]
b = a.copy()

print(id(a))

print(id(b))

print('-----------------')
b[0] = 999

print(a)
print(b)

2482402151616
2482402477248
-----------------
[1, 2, 3]
[999, 2, 3]

# Faling point of shallow copy

In [144]:
a = [1,2,3,[4,5,6]]
b = a.copy()

print(id(a))

print(id(b))

print('-----------------')

print(id(a[-1]))

print(id(b[-1]))


print('-----------------')

b[-1][-1] = 999

print(a)
print(b)

2482402610048
2482402477248
-----------------
2482402820800
2482402820800
-----------------
[1, 2, 3, [4, 5, 999]]
[1, 2, 3, [4, 5, 999]]

# Deep copy

In [145]:
from copy import deepcopy

In [147]:
a = [1,2,3,[4,5,6]]
b = deepcopy(a)

print(id(a))

print(id(b))

print('-----------------')

print(id(a[-1]))

print(id(b[-1]))


print('-----------------')

b[-1][-1] = 999

print(a)
print(b)

2482400721728
2482402852544
-----------------
2482402480320
2482402162176
-----------------
[1, 2, 3, [4, 5, 6]]
[1, 2, 3, [4, 5, 999]]

In [148]:
import pandas as pd

In [159]:
data = pd.read_csv('C:\\Users\\Mohammed Israr\\Desktop/datasets/weather_data.csv')


data

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [160]:
backup_data = data.copy()

In [161]:
print(id(data))


print(id(backup_data))

2482446097552
2482446697296

In [162]:
backup_data

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [163]:
data

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [164]:
data.replace('Sunny' , 'Summer' , inplace = True)

In [165]:
data

        day  temperature  windspeed   event
0  1/1/2017           32          6    Rain
1  1/2/2017           35          7  Summer
2  1/3/2017           28          2    Snow
3  1/4/2017           24          7    Snow
4  1/5/2017           32          4    Rain
5  1/6/2017           31          2  Summer

In [166]:
backup_data

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny