# For loop


sytax 


for var in iterable:
    stat1
    stat2
    stat3

# How to identify any data type is iterable or not


1. len() --> Should work

2. print(dir(object)) --> __iter__

In [3]:
len(34343)

TypeError: object of type 'int' has no len()

In [7]:
print(dir(dict))

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [8]:
a = 'xyz'


for char in a:
    print(char , 'hello world')

x hello world
y hello world
z hello world

In [ ]:
for iteration 1 char = x
x , hello world


for iteration 2 char y
y , hello world


for iteration  3

In [9]:
a = ['xyz' , 'abc']


for char in a:
    print(char , 'hello world')

xyz hello world
abc hello world

In [11]:
a = 'python java'


for char in a:
    print(char , 'hello world')

p hello world
y hello world
t hello world
h hello world
o hello world
n hello world
  hello world
j hello world
a hello world
v hello world
a hello world

In [12]:
a = 'python java'


for char in a.split():
    print(char , 'hello world')

python hello world
java hello world

In [15]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [16]:
for i in range(1,11):
    print(i * 2)

2
4
6
8
10
12
14
16
18
20

In [ ]:
2      *        1      =        2
2      *        2      =        4
.
.
2      *        10     =       20

In [20]:
for i in range(1,11):
    print('2  * '+ str(i)+' = '+str(i*2))

2  * 1 = 2
2  * 2 = 4
2  * 3 = 6
2  * 4 = 8
2  * 5 = 10
2  * 6 = 12
2  * 7 = 14
2  * 8 = 16
2  * 9 = 18
2  * 10 = 20

In [18]:
for i in range(1,11):
    print('2  * ',i,' = ',i *2)

2  *  1  =  2
2  *  2  =  4
2  *  3  =  6
2  *  4  =  8
2  *  5  =  10
2  *  6  =  12
2  *  7  =  14
2  *  8  =  16
2  *  9  =  18
2  *  10  =  20

In [21]:
for i in range(1,11):
    print(f'2  * {i} = {i*2}')

2  * 1 = 2
2  * 2 = 4
2  * 3 = 6
2  * 4 = 8
2  * 5 = 10
2  * 6 = 12
2  * 7 = 14
2  * 8 = 16
2  * 9 = 18
2  * 10 = 20

In [29]:
n = int(input('Enter a number : '))

for i in range(1,11):
    print(f'{n}  * {i} = {i*n}')

Enter a number : 55
55  * 1 = 55
55  * 2 = 110
55  * 3 = 165
55  * 4 = 220
55  * 5 = 275
55  * 6 = 330
55  * 7 = 385
55  * 8 = 440
55  * 9 = 495
55  * 10 = 550

In [32]:
a = input('Enter the first name : ')
b = input('Enter the second name  : ')

c = f'My first name is {a} and secnd name is {b}'


c

Enter the first name : abc
Enter the second name  : xyz

'My first name is abc and secnd name is xyz'

In [34]:
l = [23,34,56,34,65,876]

for i in l:
    print(i / 2)

11.5
17.0
28.0
17.0
32.5
438.0

In [36]:
l = [23,34,56,34,65,876]

e_list = []

for i in l:
    e_list.append(i / 2)  
    print(e_list)

[11.5]
[11.5, 17.0]
[11.5, 17.0, 28.0]
[11.5, 17.0, 28.0, 17.0]
[11.5, 17.0, 28.0, 17.0, 32.5]
[11.5, 17.0, 28.0, 17.0, 32.5, 438.0]

In [37]:
e_list

[11.5, 17.0, 28.0, 17.0, 32.5, 438.0]

In [38]:
col_1 = [1,2,3,4]
col_2 = [5,6,7,8]


col_1 + col_2

[1, 2, 3, 4, 5, 6, 7, 8]

In [44]:
col_1 = [1,2,3,4]
col_2 = [5,6,7,8]

l = []

for i in range(len(col_1)):
    l.append(col_1[i] + col_2[i])

In [45]:
l

[6, 8, 10, 12]

In [52]:
a= ['Israr' , 'Balraj' , 'Tania' , 'Bini' , 'Meena']


b = ['gmail.com' , 'yahoo.com' , 'gmail.com' , 'hotmail.com' , 'yahoo.com']

l = []

for i in range(len(a)):
    l.append(a[i] + '@'+ b[i])
    
l

['Israr@gmail.com',
 'Balraj@yahoo.com',
 'Tania@gmail.com',
 'Bini@hotmail.com',
 'Meena@yahoo.com']

In [54]:
a= ['Israr' , 'Balraj' , 'Tania' , 'Bini' , 'Meena']


b = ['gmail.com' , 'yahoo.com' , 'gmail.com' , 'hotmail.com' , 'yahoo.com']

l = []

for i in range(len(a)):
    if b[i] == 'gmail.com':
        l.append(a[i] + '@'+ b[i])
    
l

['Israr@gmail.com', 'Tania@gmail.com']

# List comprehension


[expression for var in iterable if condition]

In [56]:
l = [23,34,56,34,65,876]

e_list = []

for i in l:
    e_list.append(i / 2)  
    
print(e_list)

[11.5, 17.0, 28.0, 17.0, 32.5, 438.0]

In [57]:
l = [23,34,56,34,65,876]

e_list = [i / 2 for i in l]
    
print(e_list)

[11.5, 17.0, 28.0, 17.0, 32.5, 438.0]

In [58]:
l = [23,34,56,34,65,876]

e_list = []

for i in l:
    if i%2==0:
        e_list.append(i)  
    
print(e_list)

[34, 56, 34, 876]

In [59]:
l = [23,34,56,34,65,876]

e_list = [i for i in l if i%2 ==0]

   
print(e_list)

[34, 56, 34, 876]

In [62]:
a = ['Israr@gmail.com' , 'Abhishek@yahoo.com' , 'Balraj@gmail.com' , 'Dipali@yahoo.com',
    'Dona@gmail.com' , 'dinesh@gmail.com' , 'dom@gmail.com']

b = [i.split('@')[0] for i in a]

b

['Israr', 'Abhishek', 'Balraj', 'Dipali', 'Dona', 'dinesh', 'dom']

In [63]:
a = ['Israr@gmail.com' , 'Abhishek@yahoo.com' , 'Balraj@gmail.com' , 'Dipali@yahoo.com',
    'Dona@gmail.com' , 'dinesh@gmail.com' , 'dom@gmail.com']

b = [i.split('@')[0] for i in a if 'gmail.com' in i]

b

['Israr', 'Balraj', 'Dona', 'dinesh', 'dom']

In [64]:
a = ['Israr@gmail.com' , 'Abhishek@yahoo.com' , 'Balraj@gmail.com' , 'Dipali@yahoo.com',
    'Dona@gmail.com' , 'dinesh@gmail.com' , 'dom@gmail.com']

b = [i.split('@')[0] for i in a if i.split('@')[1] =='gmail.com']

b

['Israr', 'Balraj', 'Dona', 'dinesh', 'dom']

In [65]:
a = ['Israr@gmail.com' , 'Abhishek@yahoo.com' , 'Balraj@gmail.com' , 'Dipali@yahoo.com',
    'Dona@gmail.com' , 'dinesh@gmail.com' , 'dom@gmail.com']

b = [i.split('@')[0] for i in a if i.endswith('gmail.com')]

b

['Israr', 'Balraj', 'Dona', 'dinesh', 'dom']

In [68]:
col_1 = [1,2,3,4]
col_2 = [5,6,7,8]

l = [col_1[i] + col_2[i] for i in range(len(col_1)) ]

    
l

[6, 8, 10, 12]

In [74]:
marks_scored = [77 ,76 , 89 , 90 , 20 , 55]
total_marks = [120 , 125 , 100 , 135 , 80 , 70]


percentage = [round((marks_scored[i] / total_marks[i]) * 100 , 2) for i in range(len(marks_scored))]

percentage

[64.17, 60.8, 89.0, 66.67, 25.0, 78.57]

In [72]:
marks_scored = [77 ,76 , 89 , 90 , 20 , 55]
total_marks = [120 , 125 , 100 , 135 , 80 , 70]


percentage = []

for i in range(len(marks_scored)):
    percentage.append((marks_scored[i] / total_marks[i]) * 100)
    
    
percentage

[64.16666666666667, 60.8, 89.0, 66.66666666666666, 25.0, 78.57142857142857]

In [77]:
marks_scored = [77 ,76 , 89 , 90 , 20 , 55]
total_marks = [120 , 125 , 100 , 135 , 80 , 70]


percentage = []

for i,j in zip(marks_scored , total_marks):
    percentage.append((i/j) * 100)
    
    
percentage

[64.16666666666667, 60.8, 89.0, 66.66666666666666, 25.0, 78.57142857142857]

In [76]:
list(zip(marks_scored , total_marks))

[(77, 120), (76, 125), (89, 100), (90, 135), (20, 80), (55, 70)]

# Tuple

In [78]:
# If you already know elements


a = (23,34,34,546,5)


print(a , type(a))

(23, 34, 34, 546, 5) <class 'tuple'>

In [79]:

a = eval(input('Enter a tuple : '))


print(a , type(a))

Enter a tuple : 23,34,45,56,65
(23, 34, 45, 56, 65) <class 'tuple'>

In [80]:
a = 'xyz'
b = [12,23,23]


print(tuple(a))
print(tuple(b))

('x', 'y', 'z')
(12, 23, 23)

# Tuple packing and unpacking

# Tuple packing

- Assigni multiple values to a single variable

In [81]:
a = (23,34,34,546,5)


print(a , type(a))

(23, 34, 34, 546, 5) <class 'tuple'>

In [82]:
a = 23,43,534,23


print(a , type(a))

(23, 43, 534, 23) <class 'tuple'>

In [84]:
a = 23,'xyz' , 45345.345


print(a , type(a))

(23, 'xyz', 45345.345) <class 'tuple'>

# Tuple unpacking

- Assigni multiple values to a multiple variable


LHS == RHS

In [86]:
a,b,c = 23,'xyz' , 45345.345


print(a , type(a))
print(b , type(b))
print(c , type(c))

23 <class 'int'>
xyz <class 'str'>
45345.345 <class 'float'>

In [91]:
a,b,c,d = 23,'xyz' , 45345.345

ValueError: not enough values to unpack (expected 4, got 3)

In [90]:
a,b,c = 23,'xyz' , 45345.345, 'abc'

ValueError: too many values to unpack (expected 3)

In [92]:
a= ['Israr' , 'Balraj' , 'Tania' , 'Bini' , 'Meena']


b = ['gmail.com' , 'yahoo.com' , 'gmail.com' , 'hotmail.com' , 'yahoo.com']


list(zip(a,b))

[('Israr', 'gmail.com'),
 ('Balraj', 'yahoo.com'),
 ('Tania', 'gmail.com'),
 ('Bini', 'hotmail.com'),
 ('Meena', 'yahoo.com')]

In [98]:
for i,j in zip(a,b):
    print(i,j)

Israr gmail.com
Balraj yahoo.com
Tania gmail.com
Bini hotmail.com
Meena yahoo.com

In [99]:
for i,j,k in zip(a,b):
    print(i,j)

ValueError: not enough values to unpack (expected 3, got 2)

In [102]:
a = 'this is pythons class'


list(enumerate(a))

[(0, 't'),
 (1, 'h'),
 (2, 'i'),
 (3, 's'),
 (4, ' '),
 (5, 'i'),
 (6, 's'),
 (7, ' '),
 (8, 'p'),
 (9, 'y'),
 (10, 't'),
 (11, 'h'),
 (12, 'o'),
 (13, 'n'),
 (14, 's'),
 (15, ' '),
 (16, 'c'),
 (17, 'l'),
 (18, 'a'),
 (19, 's'),
 (20, 's')]

In [103]:
a = 'this is pythons class'


list(enumerate(a , start= 100))

[(100, 't'),
 (101, 'h'),
 (102, 'i'),
 (103, 's'),
 (104, ' '),
 (105, 'i'),
 (106, 's'),
 (107, ' '),
 (108, 'p'),
 (109, 'y'),
 (110, 't'),
 (111, 'h'),
 (112, 'o'),
 (113, 'n'),
 (114, 's'),
 (115, ' '),
 (116, 'c'),
 (117, 'l'),
 (118, 'a'),
 (119, 's'),
 (120, 's')]

In [107]:
a = 'this is pythons class'

for i,j in enumerate(a):
    if j == 's':
        print(i)

3
6
14
19
20

In [115]:
a = 'this is pythons class'

for i in enumerate(a):
    if 's' in i:
        print(i[0])

3
6
14
19
20

# Dictionary

In [116]:
a = {'a' : 34 , 'b':54}


print(a , type(a))

{'a': 34, 'b': 54} <class 'dict'>

In [117]:
a = {'name' : 'xyz' , 'age':34 , 'salary':434234324}

a[0]

KeyError: 0

In [118]:
a = {'name' : 'xyz' , 'age':34 , 'salary':434234324}

a['name']

'xyz'

# Creating a dic

In [120]:
# If you already know the elements

a = {'name' : 'xyz' , 'age':34 , 'salary':434234324}

print(a , type(a))

{'name': 'xyz', 'age': 34, 'salary': 434234324} <class 'dict'>

#### Taking user input

In [121]:
a = eval(input())

print(a , type(a))

{'a' : 34 , 'b':564}
{'a': 34, 'b': 564} <class 'dict'>

### Type casting

In [123]:
a = 'xyz'

dict(a)

ValueError: dictionary update sequence element #0 has length 1; 2 is required

In [124]:
a = ['xyz' , 'abc']

dict(a)

ValueError: dictionary update sequence element #0 has length 3; 2 is required

In [126]:
# A seq inside a seq


a = ([1,'a'] , (2 , 'b') , [3 , 'c'])

dict(a)

{1: 'a', 2: 'b', 3: 'c'}

In [130]:
a = ['xyz' , 'abc' , 'pqr']

b = [32,34,54]


list(zip(a,b))

[('xyz', 32), ('abc', 34), ('pqr', 54)]

In [131]:
a = ['xyz' , 'abc' , 'pqr']

b = [32,34,54]


dict(zip(a,b))

{'xyz': 32, 'abc': 34, 'pqr': 54}

# Properties


- It is a collection of key and a value pair
- A key and a value together is considered as an item
- each items are sepreated by ,
- a key and a value is seperated by :
- a key cannot be duplicated - it'll update the latest value
- Whereas value duplicated
- A key cannot be an mutable data type
- A value can be anything mutable / immutable
- It is not a seq hence no concatination , repetation , indexing , sling
- membership op are possible on keys not on values
- It is an mutable data type

In [ ]:
a = {'name' : 'xyz' , 'age':34 , 'salary':434234324}

In [132]:
# a key cannot be duplicated - it'll update the latest value

a = {'name' : 'xyz' , 'age':34 , 'salary':434234324 , 'name' :'abc'}

a

{'name': 'abc', 'age': 34, 'salary': 434234324}

In [133]:
a = {'name' : 'xyz' , 'age': 'xyz' , 'salary':434234324 }

a

{'name': 'xyz', 'age': 'xyz', 'salary': 434234324}

In [139]:
a = {[2,3,4]: 'xyz' , 'age':34 , 'salary':434234324}


a

TypeError: unhashable type: 'list'

In [140]:
a = {{'a' : 32}: 'xyz' , 'age':34 , 'salary':434234324}


a

TypeError: unhashable type: 'dict'

In [141]:
a = {{23,43,4}: 'xyz' , 'age':34 , 'salary':434234324}


a

TypeError: unhashable type: 'set'

In [142]:
a = {(23,43,4): 'xyz' , 'age':34 , 'salary':434234324}


a

{(23, 43, 4): 'xyz', 'age': 34, 'salary': 434234324}

In [ ]:
# A key can be

- str
- int
- float
- complex
- bool
- None
- tuple

# A key cannot be
- list
- dict
- set

In [144]:
a = {'name': ['xyz' , 'abc'] , 'age':34 , 'salary':{'a' :324}}


a

{'name': ['xyz', 'abc'], 'age': 34, 'salary': {'a': 324}}

In [145]:
# Concatination

a = {'name' : 'xyz' , 'age': 'xyz' , 'salary':434234324 }

b = {'pan' :43434 , 'adhar':654654566}


a+b

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [146]:
# repetation

a = {'name' : 'xyz' , 'age': 'xyz' , 'salary':434234324 }



a * 2

TypeError: unsupported operand type(s) for *: 'dict' and 'int'

In [148]:
a = {'name' : 'xyz' , 'age': 'xyz' , 'salary':434234324 }


a[0:3]

TypeError: unhashable type: 'slice'

In [149]:
a = {'name' : 'xyz' , 'age': 23 , 'salary':434234324 }


'age' in a

True

In [150]:
a = {'name' : 'xyz' , 'age': 23 , 'salary':434234324 }


'xyz' in a

False

In [152]:
a = {'name' : 'xyz' , 'age':34 , 'salary':434234324}


a['age'] = 99

a

{'name': 'xyz', 'age': 99, 'salary': 434234324}

In [153]:
a = {'emp_1' : {'name' : 'Israr' , 'age':44 , 'salary':434234324} ,
    'emp_1' : {'name' : 'Abhishek' , 'age':33 , 'salary':545345} ,
    'emp_1' : {'name' : 'Dona' , 'age':23 , 'salary':5346546} ,
    'emp_1' : {'name' : 'Madhumita' , 'age':28 , 'salary':456456} }


a

{'emp_1': {'name': 'Madhumita', 'age': 28, 'salary': 456456}}

In [154]:
a = {'emp_1' : {'name' : 'Israr' , 'age':44 , 'salary':434234324} ,
    'emp_2' : {'name' : 'Abhishek' , 'age':33 , 'salary':545345} ,
    'emp_3' : {'name' : 'Dona' , 'age':23 , 'salary':5346546} ,
    'emp_4' : {'name' : 'Madhumita' , 'age':28 , 'salary':456456} }


a

{'emp_1': {'name': 'Israr', 'age': 44, 'salary': 434234324},
 'emp_2': {'name': 'Abhishek', 'age': 33, 'salary': 545345},
 'emp_3': {'name': 'Dona', 'age': 23, 'salary': 5346546},
 'emp_4': {'name': 'Madhumita', 'age': 28, 'salary': 456456}}

In [156]:
a['emp_3']

{'name': 'Dona', 'age': 23, 'salary': 5346546}

In [157]:
a['emp_2']['age']

33

In [163]:
a['emp_2']['age']

33

In [158]:
a = {'emp_1' : {'name' : 'Israr' , 'age':44 , 'salary':434234324} ,
    'emp_2' : {'name' : 'Abhishek' , 'age':33 , 'salary':545345} ,
    'emp_3' : {'name' : 'Dona' , 'age':23 , 'salary':5346546} ,
    'emp_4' : {'name' : 'Madhumita' , 'age':28 , 'salary':456456} }


a

{'emp_1': {'name': 'Israr', 'age': 44, 'salary': 434234324},
 'emp_2': {'name': 'Abhishek', 'age': 33, 'salary': 545345},
 'emp_3': {'name': 'Dona', 'age': 23, 'salary': 5346546},
 'emp_4': {'name': 'Madhumita', 'age': 28, 'salary': 456456}}

In [160]:
# Extract the names of those emp whose age >= 30

for i in a:
    if a[i]['age'] >= 30:
        print(a[i]['name'])

Israr
Abhishek